/* ----- Blur the email address in hamburger menu ----- */
#appMenu-popup #appMenu-header-description {
	filter: blur(4px) !important;
	transition: filter 350ms ease-out !important;
	transition-delay: 250ms !important;
}
#appMenu-popup #appMenu-fxa-label2:hover #appMenu-header-description {
	filter: blur(0px) !important;
}
