/* ----- Included functions ----- */
@import url("privacy_change_email_text.css");
@import url("privacy_blur_email_in_main_menu.css");
@import url("privacy_blur_email_in_sync_menu.css");
@import url("firefox_view_icon_change.css");
@import url("no_search_engines_in_url_bar.css");
@import url("spill-style-part1-file.css");
@import url("white_github_icon_in_bookmarks.css");
@import url("hide_list-all-tabs_button.css");
@import url("bookmarks_bar_same_color_as_toolbar.css");
@import url("min-max-close_buttons.css");
@import url("acrylic_micaforeveryone.css");
@import url("privacy_blur_tabs_content.css");
@import url("popout_bookmarks_bar_on_hover.css");
@import url("remove_folder_icons_from_bookmarks.css");
@import url("icons_in_main_menu.css");
@import url("ublock-icon-change.css");
@import url("give_more_width_to_active_tab.css");
@import url("autohide_tab_and_bookmarks_bars.css");
@import url("url_bar_no_border.css");
@import url("search_bar_transparent_background.css");
@import url("transparent_bookmarks_bar.css");
@import url("cleaner_extensions_menu.css");

/* ----- My Custom Colors ----- */
:root {
  --firefoxcss-main-bg-color: hsl(240, 2%, 13%);
  /* ^ Main dark color, url bar, active tab etc. ^ */
  --firefoxcss-item-bg-color: hsl(240, 2%, 20%);
  /* ^ Main lighter color, toolbar ^ */
  --firefoxcss-tab-bg-color: hsl(240, 2%, 26%);
  --firefoxcss-tab-hover-bg-color: hsl(240, 2%, 28%);
  --firefoxcss-tab-active-bg-color: var(--firefoxcss-main-bg-color);
  --firefoxcss-bookmarks-bg-color: hsl(240, 2%, 13%);
  --firefoxcss-url-bar-bg-color: var(--firefoxcss-main-bg-color);
  --firefoxcss-url-border-bottom-color: hsla(0, 0%, 100%, 0.2);
  --firefoxcss-url-border-top-color: hsla(0, 0%, 0%, 0.15);
  --firefoxcss-url-breakout-bar-bg-color: var(--firefoxcss-main-bg-color);
  --firefoxcss-url-breakout-border-bottom-color: hsla(0, 0%, 70%, 0.05);
  --firefoxcss-top-bar-border-bottom-color: hsla(0, 0%, 6%, 0.75);
  --firefoxcss-other-color: hsla(0, 0%, 60%, 0.35);
  --firefoxcss-top-bar-border-bottom-size: 1px;
  --firefoxcss-border-radius: 10px;
}

:root {
  --arrowpanel-background: var(--firefoxcss-main-bg-color) !important;
  --panel-separator-zap-gradient: linear-gradient(
    90deg,
    rgba(11, 11, 11, 1) 0%,
    rgb(204, 143, 78) 39%,
    rgb(37, 27, 36) 100%
  ) !important;
  --button-hover-bgcolor: hsla(0, 0%, 60%, 0.35) !important;
  --button-active-bgcolor: hsla(0, 0%, 45%, 0.35) !important;
  --button-bgcolor: hsla(0, 0%, 45%, 0.9) !important;
  --arrowpanel-border-color: hsla(0, 0%, 50%, 0.25) !important;
  --dark-menu-background-color: #222121 !important;
  --dark-menu-border-color: rgb(55, 55, 55) !important;
  --dark-menuitem-hover-background-color: rgba(159, 159, 159, 0.35) !important;
}

/* @media (prefers-color-scheme: light),(prefers-color-scheme: dark) {
	:root {
		
	}
} */


/* Sidebar Menu bg color */
#browser #sidebar-box {
  --sidebar-background-color: var(--firefoxcss-main-bg-color) !important;
}

#bookmarksPanel {
  background-color: var(--firefoxcss-main-bg-color) !important;
}

/* Remove line on the right side of the Firefox view button */
:root:not([privatebrowsingmode="temporary"]):not([firefoxviewhidden])
  :is(#firefox-view-button, #wrapper-firefox-view-button)
  + #tabbrowser-tabs {
  border-inline-start: 0 !important;
}

/* Remove line between website content and top bar */
#navigator-toolbox {
  border-bottom: var(--firefoxcss-top-bar-border-bottom-size) solid
    var(--firefoxcss-top-bar-border-bottom-color) !important;
}

/* Avoids bright flash */
#tabbrowser-tabpanels {
  background-color: var(
    --uc-light-bkgnd-color,
    var(--firefoxcss-main-bg-color)
  ) !important;
}

/* Other */
#TabsToolbar {
  padding-inline-start: initial !important;
}

.titlebar-spacer[type="pre-tabs"],
.titlebar-spacer[type="post-tabs"],
.titlebar-spacer {
  display: none !important;
}

/* Order of Toolbars (0-top, 1-second from top, 2-last) */
#navigator-toolbox #nav-bar {
  -moz-box-ordinal-group: 0 !important;
  background-color: transparent !important;
}

#navigator-toolbox #toolbar-menubar {
  -moz-box-ordinal-group: 1 !important;
}

#titlebar {
  -moz-box-ordinal-group: 2 !important;
}

#PersonalToolbar {
  -moz-box-ordinal-group: 3 !important;
}

/* ----- Fix fullscreen issues with navigation bar at the top ----- */
:root[tabsintitlebar][sizemode="maximized"] #navigator-toolbox {
  -moz-appearance: none !important;
  appearance: none !important;
  padding-top: 0px !important;
}

/* Fix the FUllscreen changing padding on other bars. */
:root[tabsintitlebar][sizemode="maximized"] #titlebar {
  -moz-appearance: none !important;
  appearance: none !important;
}

#navigator-toolbox {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

/* ========================= Proton Height fixes ========================= */
/* ----- Tabs Bar height ----- */
:root {
  --tab-min-height: 28px !important;
}

:root #tabbrowser-tabs {
  --tab-min-height: 28px !important;
}

/* ----- Menu Bar height ----- */
#toolbar-menubar {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  line-height: 22px !important;
  max-height: 22px !important;
}

/* ========================= Icons ======================================= */
#PanelUI-menu-button {
  list-style-image: url(image/firefox.svg) !important;
}

#forward-button {
  list-style-image: url(image/right-arrow.svg) !important;
}

#back-button {
  list-style-image: url(image/left-arrow.svg) !important;
}

#PanelUI-button {
  margin-inline-start: 0 !important;
  padding-inline-start: 0 !important;
  border: none !important;
  border-inline-start: none !important;
}

#back-button > .toolbarbutton-icon {
  border: none !important;
  border-radius: 0 !important;
  background: none !important;
  width: calc(2 * var(--toolbarbutton-inner-padding) + 16px) !important;
  height: calc(2 * var(--toolbarbutton-inner-padding) + 16px) !important;
  padding: var(--toolbarbutton-inner-padding) !important;
  border-radius: var(--toolbarbutton-border-radius) !important;
}

/* ========================= URL Bar ========================= */
#urlbar-background {
  display: none !important;
}

/* Search Bar */
#urlbar-input-container,
#searchbar,
#urlbar-container {
  border-radius: var(--firefoxcss-border-radius) !important;
}

.urlbarView-body-inner {
  border-top: 0px !important;
}

#urlbar:not(.megabar):not([focused="true"]),
#urlbar:not(.megabar):not([focused="true"]):hover {
  border-bottom: transparent;
}

#urlbar {
  --autocomplete-popup-highlight-background: transparent !important;
  border: 0 !important;
  border-radius: var(--firefoxcss-border-radius) !important;
  background-color: var(--firefoxcss-url-bar-bg-color) !important;
  border-bottom: 1px solid var(--firefoxcss-url-border-bottom-color) !important;
  border-top: 1px solid var(--firefoxcss-url-border-top-color) !important;
  box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.35) !important;
}

.urlbarView:not([noresults]) > .search-one-offs:not([hidden]) {
  border-top: none !important;
}

/* Line above search engine selection in search bar */
#urlbar .search-one-offs .search-panel-one-offs-header-label {
  display: none !important;
}

/* Megabar */
#urlbar[breakout] {
  height: auto !important;
}

#urlbar[breakout][breakout-extend][open] {
  background-color: var(--firefoxcss-url-breakout-bar-bg-color) !important;
  border-bottom: 1px solid var(--firefoxcss-url-breakout-border-bottom-color) !important;
  border-top: 1px solid var(--firefoxcss-url-border-top-color) !important;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px !important;
}

#urlbar[breakout][breakout-extend] > #urlbar-input-container,
#urlbar-input-container {
  height: var(--urlbar-height) !important;
  padding-block: 0px !important;
  padding-inline: 0px !important;
  transition: none !important;
}

#urlbar[breakout][breakout-extend] {
  top: calc(
    (var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2
  ) !important;
  left: 0 !important;
  width: 100% !important;
}

#urlbar .urlbar-input-box {
  text-align: center;
}

#urlbar-container #urlbar {
  --urlbar-height: 30px !important;
  --urlbar-min-height: 32px !important;
}

#wrapper-urlbar-container #urlbar {
  height: var(--urlbar-height) !important;
}

/* ======================== Tabs ======================================= */
/* ----- Non active tabs have darker text ----- */
.tabbrowser-tab:not([visuallyselected="true"]):not([multiselected]):not(:hover) .tab-label-container 
.tab-label {
  color: hsla(0, 0%, 100%, 0.65) !important;
}

.tabbrowser-tab .tab-label-container 
.tab-label {
  transition: color 250ms ease !important;
}

/* ----- New tab icon size (16-default). Not change the rest of calc --- */
#tabs-newtab-button .toolbarbutton-icon,
#new-tab-button .toolbarbutton-icon {
  width: calc(2 * var(--toolbarbutton-inner-padding) + 12px) !important;
  height: calc(2 * var(--toolbarbutton-inner-padding) + 12px) !important;
}

toolbar
  #tabs-newtab-button:not([disabled="true"]):-moz-any([open], [checked], :hover:active)
  > .toolbarbutton-icon,
toolbar
  #new-tab-button:not([disabled="true"]):-moz-any([open], [checked], :hover:active)
  > .toolbarbutton-icon {
  border: 0 !important;
  border-radius: 100% !important;
  background-image: none !important;
  background-color: hsl(240, 2%, 18%) !important;
  box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.6) !important;
}

/* Main BAR */
#navigator-toolbox {
  background-color: var(--firefoxcss-item-bg-color) !important;
  --tabs-border-color: none !important;
  --my-tab-min-width: 100px !important;
  --tabs-navbar-shadow-size: 0px !important;
}

#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])
  > #tabbrowser-arrowscrollbox
  > .tabbrowser-tab[first-visible-unpinned-tab] {
  margin-inline-start: 2px !important;
}

#tabbrowser-tabs {
  --tab-loading-fill: transparent !important;
  margin-left: 2px !important;
}

/* Width of the tabs. Important to have Fadein or it breaks fonctionality */
.tabbrowser-tab[fadein]:not([pinned]) {
  max-width: 135px !important;
  /* 135px */
  min-width: var(--my-tab-min-width) !important;
}

.tabbrowser-tab:not([visuallyselected="true"]):not([multiselected]):not(:hover)
  .tab-icon-image {
  opacity: 0.8 !important;
  transition: opacity 250ms ease !important;
}

/* Fix the Heigh of a tab because 
if you change --tab-min-height it doesnt work for fullcreen
 */
#TabsToolbar {
  padding-top: 0px !important;
  padding-bottom: 2px !important;
}

/* Remove the line between the tabs / seperators */
#tabbrowser-tabs .tabbrowser-tab::before,
#tabbrowser-tabs .tabbrowser-tab::after {
  border: 0 !important;
}

/* Normal tabs design */
.tabbrowser-tab .tab-background:not([selected]) {
  border: 0 !important;
  border-radius: var(--firefoxcss-border-radius) !important;
  background-image: none !important;
  background-color: var(--firefoxcss-tab-bg-color) !important;
  transition: background-color 250ms ease !important;
  box-shadow: 1px 1px 1px -1px rgba(0, 0, 0, 0.4) !important;
}

/* Normal tabs design on hover */
#tabbrowser-tabs
  .tabbrowser-tab:hover
  > .tab-stack
  > .tab-background:not([selected="true"]) {
  border: 0 !important;
  border-radius: var(--firefoxcss-border-radius) !important;
  background-image: none !important;
  background-color: var(--firefoxcss-tab-hover-bg-color) !important;
  box-shadow: 1px 1px 1px -1px rgba(0, 0, 0, 0.4) !important;
}

/* Selected tabs design */
#tabbrowser-tabs .tabbrowser-tab .tab-background[selected] {
  border: 0 !important;
  border-radius: var(--firefoxcss-border-radius) !important;
  background-image: none !important;
  background-color: var(--firefoxcss-tab-active-bg-color) !important;
  box-shadow: none !important;
  outline: none !important;
}

/* Multiselect tabs */
#tabbrowser-tabs .tabbrowser-tab .tab-background[multiselected="true"] {
  border: 0 !important;
  border-radius: var(--firefoxcss-border-radius) !important;
  background-image: none !important;
  outline: none !important;
  background-color: var(--firefoxcss-tab-active-bg-color) !important;
  box-shadow: none !important;
}

#tabbrowser-tabs
  .tabbrowser-tab
  .tab-background:is([selected]):is([multiselected]) {
  outline: 1px solid rgba(255, 255, 255, 0.1) !important;
  outline-offset: 0px !important;
  outline-width: 1px !important;
}

/* Show Tab close button on hover */
.tabbrowser-tab:not([pinned]) .tab-close-button {
  display: -moz-box !important;
  opacity: 0;
  visibility: collapse !important;
  transition: opacity 0.25s, visibility 0.25s ease-in !important;
}

.tabbrowser-tab:not([pinned]):hover .tab-close-button {
  opacity: 1;
  visibility: visible !important;
  border-radius: 100% !important;
}

#titlebar #TabsToolbar #tabbrowser-tabs .tabbrowser-tab .tab-background {
  margin-block: 2px !important;
}

/* Remove right and left side tab overflow border line */
#scrollbutton-up ~ spacer{ 
  border-color: transparent !important; 
}
/* ----------------------------------------------------------------- */
/* ------------------ close/min/max buttons ------------------------ */
/* ----------------------------------------------------------------- */

/* ----- Close/min/max fix ----- */
#toolbar-menubar .titlebar-button {
  padding-block: 0px !important;
}

#TabsToolbar .titlebar-buttonbox-container {
  -moz-box-ordinal-group: 0 !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  padding-right: 3px !important;
  padding-left: 3px !important;
}

#nav-bar {
  padding-left: 118px;
}

#navigator-toolbox:not([inFullscreen])
  #TabsToolbar
  .titlebar-buttonbox-container {
  visibility: visible !important;
  display: block !important;
  position: absolute !important;
  top: 1px;
  left: 0;
}

#TabsToolbar .titlebar-buttonbox-container .titlebar-button {
  border-radius: var(--toolbarbutton-border-radius);
}

.titlebar-buttonbox-container .titlebar-button > .toolbarbutton-icon {
  height: 12px !important;
  min-height: 12px !important;
  width: 12px !important;
  min-width: 12px !important;
}

.titlebar-buttonbox-container .titlebar-button {
  padding: 8px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  margin-left: 2px !important;
  margin-right: 2px !important;
}

:root[sizemode="maximized"] .titlebar-buttonbox-container {
  padding-top: 0px !important;
}

.titlebar-buttonbox-container .titlebar-min {
  -moz-box-ordinal-group: 2 !important;
}

.titlebar-buttonbox-container .titlebar-max,
.titlebar-restore {
  -moz-box-ordinal-group: 1 !important;
}

.titlebar-buttonbox-container .titlebar-close {
  -moz-box-ordinal-group: 0 !important;
}

@media only screen and (max-width: 670px) {
  #navigator-toolbox:not([inFullscreen])
    #TabsToolbar
    .titlebar-buttonbox-container {
    visibility: visible !important;
    display: block !important;
    position: relative !important;
  }

  #navigator-toolbox:not([inFullscreen]) #nav-bar {
    padding-left: initial !important;
  }
}

/* ----------------------------------------------------------------- */
/* ----------------------------------------------------------------- */
/* ----- Menu Items height/padding --panel-item-active-bgcolor ----- */
/* ----------------------------------------------------------------- */
menupopup :-moz-any(menu, menuitem) {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

menupopup
  > :-moz-any(menu[_moz-menuactive="true"], menuitem[_moz-menuactive="true"]) {
  background-color: color-mix(in srgb, currentColor 9%, transparent) !important;
  appearance: none !important;
  -moz-appearance: none !important;
}

#context-navigation
  > .menuitem-iconic[_moz-menuactive="true"]
 {
  border-radius: var(--toolbarbutton-border-radius) !important;
  background-color: var(--button-hover-bgcolor) !important;
  appearance: none !important;
  -moz-appearance: none !important;
}

menugroup > #context-back {
  list-style-image: url("image/left-arrow.svg") !important;
}

menugroup > #context-forward {
  list-style-image: url("image/right-arrow.svg") !important;
}

menupopup :-moz-any(menu:first-child, menuitem:first-child) {
  margin-top: 0px !important;
}

menupopup :-moz-any(menu:last-child, menuitem:last-child) {
  margin-bottom: 0px !important;
}

/* ----- Menu Separator #context-sep-selectall ----- */
menuseparator {
  border-color: var(--panel-separator-color) !important;
}

menuseparator #context-sep-navigation {
  border-color: #0b0b0b66 !important;
}

/* ----- Menu Colors -- border - rgba(82, 82, 94, 0.31) ----- */
:not(#ContentSelectDropdown) > menupopup {
  --panel-border-color: var(--arrowpanel-border-color) !important;
  --panel-background: var(--firefoxcss-main-bg-color) !important;
  --panel-padding: 5px 0 5px !important;
  --panel-border-radius: 8px !important;
}

#context-navigation:not([hidden]) {
  background-color: #131313cf !important;
  padding: 1px 4px 1px !important;
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

menupopup#contentAreaContextMenu {
  --panel-padding: unset !important;
  --panel-padding: 0 0 5px !important;
}

.menupopup-arrowscrollbox {
  overflow: hidden !important;
}

menupopup
  menuitem:is(#context-openlinkintab, #context-undo, #context-viewimage) {
  margin-top: 5px !important;
}

/* ----------------------------------- */
/* ----- Bookmarks bar set color------ */
/* ----------------------------------- */
#PersonalToolbar {
  background-color: var(--firefoxcss-bookmarks-bg-color) !important;
}

#PlacesToolbarItems > .bookmark-item {
  padding-block: 6px !important;
  padding-left: 6px !important;
  padding-right: 6px !important;
}

/* ----------------------------------- */
/* ----- Toolbar buttons ------------- */
/* ----------------------------------- */
toolbar
  .toolbarbutton-1:not([disabled="true"], [checked], [open], :active):hover
  > .toolbarbutton-icon,
toolbar
  .toolbarbutton-1:not([disabled="true"], [checked], [open], :active):hover
  > .toolbarbutton-text,
toolbar
  .toolbarbutton-1:not([disabled="true"], [checked], [open], :active):hover
  > .toolbarbutton-badge-stack {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3) !important;
}

toolbar
  .toolbarbutton-1:not([disabled="true"]):is([open], [checked], :hover:active)
  > .toolbarbutton-icon,
toolbar
  .toolbarbutton-1:not([disabled="true"]):is([open], [checked], :hover:active)
  > .toolbarbutton-text,
toolbar
  .toolbarbutton-1:not([disabled="true"]):is([open], [checked], :hover:active)
  > .toolbarbutton-badge-stack {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3) !important;
}

/* Design of the plus/newtab button */
toolbar
  #tabs-newtab-button:not([disabled="true"]):not([checked]):not([open]):not(:active):hover
  > .toolbarbutton-icon,
toolbar
  #new-tab-button:not([disabled="true"]):not([checked]):not([open]):not(:active):hover
  > .toolbarbutton-icon {
  border: 0 !important;
  border-radius: 100% !important;
  background-image: none !important;
  background-color: hsla(0, 0%, 30%, 0.85) !important;
  box-shadow: 1px 1px 4px -1px rgba(0, 0, 0, 0.5) !important;
}

/* Back button hover/active color */
#back-button:not([disabled]):not([open]):hover > .toolbarbutton-icon {
  background-color: var(--toolbarbutton-hover-background) !important;
}

#back-button:not([disabled="true"]):is([open], [checked], :hover:active)
  > .toolbarbutton-icon {
  background-color: var(--toolbarbutton-active-background) !important;
}

/* Firefox view button */
#TabsToolbar #firefox-view-button {
  margin-left: 2px !important;
}

#TabsToolbar #firefox-view-button:hover:not([open]) > .toolbarbutton-icon {
  background-image: none !important;
  box-shadow: none !important;
  border-radius: var(--firefoxcss-border-radius) !important;
  background-color: var(--firefoxcss-tab-hover-bg-color) !important;
}

#TabsToolbar #firefox-view-button[open] > .toolbarbutton-icon {
  background-image: none !important;
  background-color: var(--firefoxcss-main-bg-color) !important;
  border-radius: var(--firefoxcss-border-radius) !important;
  box-shadow: none !important;
}

:root:not([privatebrowsingmode="temporary"]):not([firefoxviewhidden])
  :is(#firefox-view-button, #wrapper-firefox-view-button)
  + #tabbrowser-tabs {
  padding-inline-start: 0px !important;
  margin-inline-start: 2px !important;
}

/* Remove lefover window buttons from extra menu bar (Shows up when window inactive) */
#titlebar #toolbar-menubar .titlebar-buttonbox-container {
  display: none !important;
}

/* Private browser icons remove and change main menu to purple */
#private-browsing-indicator-with-label,
.private-browsing-indicator {
  display: none !important;
}

:root[privatebrowsingmode="temporary"] #PanelUI-menu-button {
  list-style-image: url("image/firefox.svg") !important;
  fill: hsl(277, 70%, 64%) !important;
}

:root[privatebrowsingmode="temporary"]
  #PanelUI-menu-button
  .toolbarbutton-badge-stack
  .toolbarbutton-icon {
  filter: drop-shadow(0px 0px 1px #000000d5) !important;
}

/* ------------------------------------------------------------------------------ */
/* ----------------------- Auto hide  Buttons inside URL bar -------------------- */
/* ------------------------------------------------------------------------------ */
#nav-bar:not([customizing="true"]):not(.searchButton)
  > #nav-bar-customization-target
  > #urlbar-container:not(:hover)
  > #urlbar:not([focused])
  > #urlbar-input-container
  > :is(#page-action-buttons) {
  opacity: 0;
  transition-delay: 500ms;
}

#nav-bar:not([customizing="true"]):not(.searchButton)
  > #nav-bar-customization-target
  > #urlbar-container:not(:hover)
  > #urlbar:not([focused])
  > #urlbar-input-container
  > #identity-box
#notification-popup-box:not([open]) .notification-anchor-icon {
  opacity: 0;
  transition-delay: 500ms;
}
#nav-bar:not([customizing="true"]):not(.searchButton)
  > #nav-bar-customization-target
  > #urlbar-container:not(:hover)
  > #urlbar:not([focused])
  > #urlbar-input-container
  > #identity-box
  #identity-permission-box:not([open]) {
  opacity: 0;
  transition-delay: 500ms;
}

#page-action-buttons,
#identity-permission-box,
#notification-popup-box .notification-anchor-icon {
  transition: opacity 0.2s ease;
}

#urlbar #identity-icon {
  visibility: hidden !important;
  transition: 300ms !important;
  opacity: 0 !important;
  -moz-margin-end: -1.4em !important;
}

#identity-box:hover #identity-icon {
  visibility: visible !important;
  transition: 300ms !important;
  opacity: 1 !important;
  -moz-margin-end: initial !important;
}

/* Search button show on hover in URL bar. 
 /* #urlbar-container:not(:hover) #urlbar:not(.searchButton):not([focused])
> #urlbar-input-container > 
#identity-box[pageproxystate="invalid"] #identity-icon {
  opacity: 0 !important; 
}

#urlbar-container #urlbar:not(.searchButton)
> #urlbar-input-container > 
#identity-box[pageproxystate="invalid"] #identity-icon {
  opacity: 1 !important; 
  visibility: visible !important;
  transition: opacity 0.2s ease;
} */

#tracking-protection-icon-container {
  display: none !important;
}

#identity-box[pageproxystate="valid"].notSecureText > .identity-box-button,
#identity-box[pageproxystate="valid"].extensionPage > .identity-box-button,
#identity-box[pageproxystate="valid"].chromeUI > .identity-box-button,
#urlbar-label-box,
#urlbar-zoom-button {
  background-color: var(--firefoxcss-item-bg-color) !important;
}

#urlbar-zoom-button:hover {
  background-color: var(--firefoxcss-other-color) !important;
}

#urlbar-input-container #identity-box > .identity-box-button,
#tracking-protection-icon-container,
#urlbar-go-button,
#page-action-buttons .urlbar-page-action,
#notification-popup-box {
  border-radius: 8px !important;
}

#urlbar-go-button {
  list-style-image: url("image/right-arrow.svg") !important;
}

/* Styling Extra search bar that you can add to firefox */
#search-container #searchbar {
  outline: 0 !important;
  border: 0 !important;
  border-radius: var(--firefoxcss-border-radius) !important;
  background-color: var(--firefoxcss-url-bar-bg-color) !important;
  border-bottom: 1px solid var(--firefoxcss-url-border-bottom-color) !important;
  border-top: 1px solid var(--firefoxcss-url-border-top-color) !important;
  box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.35) !important;
}
#search-container #searchbar .search-go-button {
  list-style-image: url("image/right-arrow.svg") !important;
}

#PopupSearchAutoComplete{ --panel-background: var(--firefoxcss-url-breakout-bar-bg-color) !important; }

/* speaker on tabs color fixes */
.tab-icon-overlay:not([crashed])[soundplaying]:hover,
.tab-icon-overlay:not([crashed])[muted]:hover,
.tab-icon-overlay:not([crashed])[activemedia-blocked]:hover {
  color: currentColor !important;
  stroke: hsla(0, 0%, 80%) !important;
  background-color: hsla(0, 0%, 80%) !important;
  fill-opacity: 0.95 !important;
}

.tabbrowser-tab[selected] .tab-icon-overlay:not([crashed])[soundplaying]:hover,
.tabbrowser-tab[selected] .tab-icon-overlay:not([crashed])[muted]:hover,
.tabbrowser-tab[selected] .tab-icon-overlay:not([crashed])[activemedia-blocked]:hover {
  color: currentColor !important;
  stroke: hsla(0, 0%, 80%)  !important;
  background-color: hsla(0, 0%, 80%) !important;
  fill-opacity: 0.95 !important;
}

#TabsToolbar .tab-icon-overlay:not([crashed])[soundplaying],
#TabsToolbar .tab-icon-overlay:not([crashed])[muted],
#TabsToolbar .tab-icon-overlay:not([crashed])[activemedia-blocked] { 
  color: hsl(0, 0%, 100%) !important; 
}

#TabsToolbar .tab-icon-overlay:not([crashed])[soundplaying]:hover,
#TabsToolbar .tab-icon-overlay:not([crashed])[muted]:hover,
#TabsToolbar .tab-icon-overlay:not([crashed])[activemedia-blocked]:hover { 
  color: hsla(0, 0%, 10%) !important; 
}
