/* Change main menu icon to firefox logo */
@media (prefers-color-scheme: dark) {
  #navigator-toolbox #PanelUI-menu-button {
    list-style-image: url(ASSETS/icons/firefox.svg) !important;
  }

  :root[privatebrowsingmode="temporary"]
    #navigator-toolbox
    #PanelUI-menu-button {
    list-style-image: url(ASSETS/icons/firefox-private.svg) !important;
  }
}

@media (prefers-color-scheme: light) {
  #navigator-toolbox #PanelUI-menu-button {
    list-style-image: url(ASSETS/icons/firefox-light.svg) !important;
  }

  :root[privatebrowsingmode="temporary"]
    #navigator-toolbox
    #PanelUI-menu-button {
    list-style-image: url(ASSETS/icons/firefox-private-light.svg) !important;
  }
}
