/* ______ _           __             __  __           _   ____  _     _    _ _____  
  |  ____(_)         / _|           |  \/  |         | | |  _ \| |   | |  | |  __ \ 
  | |__   _ _ __ ___| |_ _____  __  | \  / | ___   __| | | |_) | |   | |  | | |__) |
  |  __| | | '__/ _ \  _/ _ \ \/ /  | |\/| |/ _ \ / _` | |  _ <| |   | |  | |  _  / 
  | |    | | | |  __/ || (_) >  <   | |  | | (_) | (_| | | |_) | |___| |__| | | \ \ 
  |_|    |_|_|  \___|_| \___/_/\_\  |_|  |_|\___/ \__,_| |____/|______\____/|_|  \_\
  
                                                                                    
  Github:         github.com/datguypiko/Firefox-Mod-Blur     */

/*===============================================================
===================== E X T R A   M O D S =======================
===============================================================*/

@import url("privacy_change_email_text.css");
@import url("privacy_blur_email_in_main_menu.css");
@import url("privacy_blur_email_in_sync_menu.css");
@import url("firefox_view_icon_change.css");
@import url("no_search_engines_in_url_bar.css");
@import url("spill-style-part1-file.css");
@import url("white_github_icon_in_bookmarks.css");
@import url("hide_list-all-tabs_button.css");
@import url("bookmarks_bar_same_color_as_toolbar.css");
@import url("min-max-close_buttons.css");
@import url("acrylic_micaforeveryone.css");
@import url("privacy_blur_tabs_content.css");
@import url("popout_bookmarks_bar_on_hover.css");
@import url("remove_folder_icons_from_bookmarks.css");
@import url("icons_in_main_menu.css");
@import url("ublock-icon-change.css");
@import url("selected_tabs_static_width.css");
@import url("autohide_tab_and_bookmarks_bars.css");
@import url("url_bar_no_border.css");
@import url("search_bar_transparent_background.css");
@import url("transparent_bookmarks_bar.css");
@import url("cleaner_extensions_menu.css");
@import url("colored_soundplaying_tab.css");
@import url("menu_icon_change_to_firefox.css");
@import url("pinned_tabs_no_bg_color.css");
@import url("reversed_tabs_bg_color.css");
@import url("transparent_tabs_bg_color.css");
@import url("tabs_separator.css");
@import url("searchbox_text_align_left.css");
@import url("tabs_take_full_bar_width.css");
@import url("show_searchbar_dots_only_on_hover.css");
@import url("thicker_control_buttons.css");

/*=====================================================================
================= D A R K   T H E M E   C O L O R S ===================
=====================================================================*/

@media (prefers-color-scheme: dark) {
  :root {
    /* Main dark color, url bar, active tab etc. */
    --firefoxcss-main-bg-color: hsl(240, 2%, 13%);

    /* Main lighter color, toolbar background */
    --firefoxcss-item-bg-color: hsl(240, 2%, 20%);

    /* Tab colors */
    --firefoxcss-tab-bg-color: hsl(240, 2%, 26%);
    --firefoxcss-tab-hover-bg-color: hsl(240, 2%, 32%);
    --firefoxcss-tab-active-bg-color: var(--firefoxcss-main-bg-color);
    --firefoxcss-non-active-tabs: hsla(0, 0%, 100%, 0.65);

    --firefoxcss-normal-tabs-box-shadow: 1px 1px 1px -1px rgba(0, 0, 0, 0.4);
    --firefoxcss-tab-multiselect-outline: rgba(255, 255, 255, 0.1);

    /* Tab playing audio speaker icon colors */
    --firefoxcss-tab-speaker-color: hsla(0, 0%, 80%);
    --firefoxcss-tab-speaker-icon-color: hsl(0, 0%, 100%);
    --firefoxcss-tab-speaker-icon-hover-color: hsl(0, 0%, 10%);
    --firefoxcss-tab-speaker-icon-small-background: hsla(0, 0%, 80%);

    /* Context menu colors */
    --firefoxcss-context-menu-top-color: #131313cf;
    /* Bookmarks bar colors */
    --firefoxcss-bookmarks-bg-color: hsl(240, 2%, 13%);

    /* Change background color when loading a page */
    --firefoxcss-bright-flash-color: var(--firefoxcss-main-bg-color);

    /* Toolbar buttons */
    --firefoxcss-toolbar-button-box-shadow: rgba(0, 0, 0, 0.3);
    --firefoxcss-toolbar-button-active-box-shadow: rgba(0, 0, 0, 0.3);

    --firefoxcss-new-tab-button-active: hsl(240, 2%, 18%);
    --firefoxcss-new-tab-button-box-shadow-active: rgba(0, 0, 0, 0.6);

    --firefoxcss-new-tab-button-hover: hsla(0, 0%, 30%, 0.85);
    --firefoxcss-new-tab-button-box-shadow-hover: rgba(0, 0, 0, 0.5);

    /* Search Bar and breakout (when in focus) colors */
    --firefoxcss-url-bar-bg-color: var(--firefoxcss-main-bg-color);
    --firefoxcss-url-border-bottom-color: 1px solid hsla(0, 0%, 100%, 0.2);
    --firefoxcss-url-border-top-color: 1px solid hsla(0, 0%, 0%, 0.15);
    --firefoxcss-url-breakout-bar-bg-color: var(--firefoxcss-main-bg-color);
    --firefoxcss-url-breakout-border-bottom-color: hsla(0, 0%, 70%, 0.05);
    --firefoxcss-url-box-shadow-color: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.35);
    --firefoxcss-url-autocomplete-highlight: hsl(240, 2%, 26%);
    --firefoxcss-url-breakout-box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px,
      rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
      rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    --firefoxcss-url-clipboard-button: color-mix(in srgb, currentColor 10%, transparent);

    /* Other colors */
    --firefoxcss-urlbar-zoom-button: hsla(0, 0%, 60%, 0.35);
    --firefoxcss-top-bar-border-bottom-color: hsla(0, 0%, 6%, 0.75);
    --firefoxcss-private-browsing-menu-color: hsl(277, 70%, 64%);
    --firefoxcss-private-browsing-drop-shadow: drop-shadow(
      0px 0px 1px #000000d5
    );
    --firefoxcss-statuspanel-bg-color: var(--firefoxcss-main-bg-color);
    --firefoxcss-contextmenu-hover-text: white;
    --firefoxcss-customize-view-dashed-outline: hsla(0, 0%, 100%, 0.25);
    --firefoxcss-customize-view-flex-space: #d0ba9e;
    --firefoxcss-customize-view-overflow-menu: hsl(240, 2%, 10%);
    
    /* ============== Firefox Global colors change ==================== */
    --arrowpanel-background: var(--firefoxcss-main-bg-color) !important;
    --button-hover-bgcolor: hsla(0, 0%, 60%, 0.35) !important;
    --button-active-bgcolor: hsla(0, 0%, 45%, 0.35) !important;
    --button-bgcolor: hsla(0, 0%, 45%, 0.9) !important;
    --arrowpanel-border-color: hsla(0, 0%, 50%, 0.25) !important;
    --dark-menu-background-color: #222121 !important;
    --dark-menu-border-color: rgb(55, 55, 55) !important;
    --dark-menu-background-color: #222121 !important;
    --dark-menu-border-color: rgb(55, 55, 55) !important;
    --dark-menuitem-hover-background-color: rgba(
      159,
      159,
      159,
      0.35
    ) !important;
    --panel-separator-color: var(--arrowpanel-border-color) !important;
    --panel-separator-zap-gradient: var(--panel-separator-color) !important;
    --lwt-sidebar-background-color: var(--firefoxcss-main-bg-color) !important;
    --urlbarView-highlight-background: hsl(240, 2%, 20%) !important;
    --urlbarView-hover-background: color-mix(in srgb, currentColor 8%, transparent) !important;
  }
}

/*=====================================================================
================= L I G H T   T H E M E   C O L O R S =================
=====================================================================*/

@media (prefers-color-scheme: light) {
  :root {
    /* Main dark color, url bar, active tab etc. */
    --firefoxcss-main-bg-color: hsl(240, 10%, 98%);

    /* Main lighter color, toolbar background */
    --firefoxcss-item-bg-color: hsl(240, 20%, 98%);

    /* Tab colors hsl(240, 15%, 90%) */
    --firefoxcss-tab-bg-color: hsl(240, 8%, 96%);
    --firefoxcss-tab-hover-bg-color: hsl(240, 8%, 90%);
    --firefoxcss-tab-active-bg-color: hsl(240, 6%, 86%);
    --firefoxcss-non-active-tabs: hsl(0, 0%, 25%);

    --firefoxcss-normal-tabs-box-shadow: none;
    --firefoxcss-tab-multiselect-outline: hsl(240, 8%, 75%);

    /* Tab playing audio speaker icon colors */
    --firefoxcss-tab-speaker-color: hsl(0, 0%, 20%);
    --firefoxcss-tab-speaker-icon-color: hsl(0, 0%, 10%);
    --firefoxcss-tab-speaker-icon-hover-color: white;
    --firefoxcss-tab-speaker-icon-small-background: hsl(0, 0%, 20%);

    /* Context menu colors */
    --firefoxcss-context-menu-top-color: hsl(240, 15%, 95%);

    /* Bookmarks bar colors */
    --firefoxcss-bookmarks-bg-color: var(--firefoxcss-item-bg-color);

    /* Change background color when loading a page */
    --firefoxcss-bright-flash-color: var(--firefoxcss-main-bg-color);

    /* Toolbar buttons */
    --firefoxcss-toolbar-button-box-shadow: rgba(0, 0, 0, 0);
    --firefoxcss-toolbar-button-active-box-shadow: rgba(0, 0, 0, 0);

    --firefoxcss-new-tab-button-active: hsl(240, 15%, 95%);
    --firefoxcss-new-tab-button-box-shadow-active: rgba(0, 0, 0, 0.4);

    --firefoxcss-new-tab-button-hover: hsla(240, 5%, 83%, 0.65);
    --firefoxcss-new-tab-button-box-shadow-hover: rgba(0, 0, 0, 0);

    /* Search Bar and breakout (when in focus) colors */
    --firefoxcss-url-bar-bg-color: hsl(240, 15%, 95%);
    --firefoxcss-url-border-bottom-color: 1px solid hsla(0, 0%, 100%, 1);
    --firefoxcss-url-border-top-color: 1px solid hsla(0, 0%, 0%, 0);
    --firefoxcss-url-breakout-bar-bg-color: hsl(240, 15%, 98%);
    --firefoxcss-url-breakout-border-bottom-color: hsla(0, 0%, 70%, 0.05);
    --firefoxcss-url-box-shadow-color: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.05);
    --firefoxcss-url-autocomplete-highlight: hsl(240, 10%, 90%);
    --firefoxcss-url-breakout-box-shadow: transparent 0 0 0 3px,
      rgba(18, 18, 18, 0.08) 2px 10px 22px;
    --firefoxcss-url-clipboard-button: color-mix(in srgb, currentColor 10%, transparent);

    /* Other colors */
    --firefoxcss-urlbar-zoom-button: hsla(240, 8%, 60%, 0.35);
    --firefoxcss-top-bar-border-bottom-color: hsla(0, 0%, 0%, 0.1);
    --firefoxcss-private-browsing-menu-color: hsl(277, 80%, 55%);
    --firefoxcss-private-browsing-drop-shadow: none;
    --firefoxcss-statuspanel-bg-color: hsl(240, 20%, 98%);
    --firefoxcss-contextmenu-hover-text: black;
    --firefoxcss-customize-view-dashed-outline: hsla(0, 0%, 0%, 0.2);
    --firefoxcss-customize-view-flex-space: hsl(34, 50%, 70%);
    --firefoxcss-customize-view-overflow-menu: hsl(240, 10%, 100%);
    
    /* ============== Firefox Global colors change ==================== */
    --arrowpanel-background: hsl(240, 15%, 98%) !important;
    --button-hover-bgcolor: hsla(240, 5%, 70%, 0.35) !important;
    --button-active-bgcolor: hsla(240, 5%, 50%, 0.35) !important;
    --button-bgcolor: hsla(0, 0%, 45%, 0.1) !important;
    /* Search Bar */
    --arrowpanel-border-color: hsla(0, 0%, 50%, 0.25) !important;
    --panel-separator-color: var(--arrowpanel-border-color) !important;
    --panel-separator-zap-gradient: var(--panel-separator-color) !important;
    --lwt-sidebar-background-color: var(--firefoxcss-main-bg-color) !important;
    --urlbarView-hover-background: color-mix(in srgb, currentColor 8%, transparent) !important;
  }
}

/*=====================================================================
=================== G L O B A L   V A R I A B L E S ===================
=====================================================================*/

:root {
  --firefoxcss-top-bar-border-bottom-size: 1px;
  --firefoxcss-border-radius: 10px;
  --firefoxcss-control-buttons-margin: 95px;
  --firefoxcss-tab-min-width: 110px;
  --firefoxcss-tab-max-width: 150px;
}

/*=====================================================================
====================== T O O L B A R   O R D E R ======================
=======================================================================
Order of Toolbars
  * 0 - top
  * 1 - second from top
  * 2 - bottom */

/* SEARCH BAR TOOLBAR */
#navigator-toolbox #nav-bar {
  order: 0 !important;
}

/* TABS TOOLBAR */
#titlebar {
  order: 1 !important;
}

/* BOOKMARKS TOOLBAR*/
#PersonalToolbar {
  order: 2 !important;
}

/* Extra titlebar menu (above or below tabs, opens with alt) */
#titlebar #toolbar-menubar {
  order: 0 !important;
}

/*=====================================================================
========================= S E T   C O L O R S =========================
=====================================================================*/

/* Sidebar background color change */
#browser #sidebar-box {
  --sidebar-background-color: var(--firefoxcss-main-bg-color) !important;
}

/* Bookmarks bar background color */
#PersonalToolbar {
  background-color: var(--firefoxcss-bookmarks-bg-color) !important;
  backdrop-filter: blur(10px) !important;
}

/* Set navigation toolbar to transparent */
#navigator-toolbox #nav-bar {
  background-color: transparent !important;
}

/* Whole Main Toolbar */
#navigator-toolbox {
  background-color: var(--firefoxcss-item-bg-color) !important;
}

/* Avoids bright flash */
#tabbrowser-tabpanels {
  background-color: var(
    --uc-light-bkgnd-color,
    var(--firefoxcss-bright-flash-color)
  ) !important;
}

/* CTRL+F Search Bar color changes  */
.browserContainer > findbar {
  background-image: none !important;
  background-color: var(--firefoxcss-main-bg-color) !important;
}

.browserContainer > findbar .findbar-textbox {
  background-color: var(--firefoxcss-item-bg-color) !important;
}

/*=====================================================================
========================= H I D E   E L E M E N T S ===================
=====================================================================*/

/* Remove empty space from tabs bar */
#TabsToolbar .titlebar-spacer[type="pre-tabs"],
#TabsToolbar .titlebar-spacer[type="post-tabs"],
#TabsToolbar .titlebar-spacer,
/* Remove Search bar background color */
#urlbar-background,
/* Remove Line above search engine selection in search bar */
#urlbar .search-one-offs .search-panel-one-offs-header-label,
/* Remove lefover window buttons from extra menu bar (when pressing alt)*/
#titlebar #toolbar-menubar .titlebar-buttonbox-container,
/* Private browser icons remove and change main menu to purple */
#private-browsing-indicator-with-label,
.private-browsing-indicator,
/* Hide tracking protection icon from Search Bar */
#tracking-protection-icon-container,
/* Hide permission icons, see it when pressing permission button */
#blocked-permissions-container {
  display: none !important;
}

/* Remove line on the right side of the Firefox view button */
:root:not([privatebrowsingmode="temporary"]):not([firefoxviewhidden])
  :is(#firefox-view-button, #wrapper-firefox-view-button)
  + #tabbrowser-tabs {
  border-inline-start: 0 !important;
}

/* Remove line between website content and top bar */
#navigator-toolbox {
  border-bottom: var(--firefoxcss-top-bar-border-bottom-size) solid
    var(--firefoxcss-top-bar-border-bottom-color) !important;
}

/*=====================================================================
======================= H E I G H T   F I X E S =======================
=====================================================================*/

/* Fix fullscreen issues with navigation bar at the top
:root[tabsintitlebar][sizemode="maximized"] #navigator-toolbox {
  -moz-appearance: none !important;
  appearance: none !important;
  padding-top: 0px !important;
}*/

/* Fix the Fullscreen changing padding on other bars.
:root[tabsintitlebar][sizemode="maximized"] #titlebar {
  -moz-appearance: none !important;
  appearance: none !important;
}*/

/* Tabs Bar height */
:root {
  --tab-min-height: 28px !important;
}

:root #tabbrowser-tabs {
  --tab-min-height: 28px !important;
}

/* Menu Bar height */
#toolbar-menubar {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  line-height: 22px !important;
  max-height: 22px !important;
}

#navigator-toolbox {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

/* Search Bar height */
#urlbar-container {
  --urlbar-container-height: 38px !important;
}

#urlbar-container #urlbar {
  --urlbar-toolbar-height: 38px !important;
  --urlbar-height: 30px !important;
  --urlbar-min-height: 32px !important;
}

#wrapper-urlbar-container #urlbar {
  height: var(--urlbar-height) !important;
}

/*=====================================================================
=============================== I C O N S =============================
=====================================================================*/

/* #stop-reload-button .toolbarbutton-animatable-image{
  animation-duration: 0s !important; #b263e3; #a230e8
} */

/* Set icon colors with context-fill without forcing them in svg files
about:config -> svg.context-properties.content.enabled -> true*/
@media (prefers-color-scheme: dark) {
  #PanelUI-menu-button {
    list-style-image: url(ASSETS/icons/menu.svg) !important;
  }
  :root[privatebrowsingmode="temporary"] #PanelUI-menu-button {
    list-style-image: url(ASSETS/icons/menu-private.svg) !important;
  }

  #find-button {
    list-style-image: url(ASSETS/icons/search.svg) !important;
  }

  #privatebrowsing-button {
    list-style-image: url(ASSETS/icons/private.svg) !important;
  }

  #forward-button,
  menugroup > #context-forward,
  #search-container #searchbar .search-go-button,
  #urlbar-go-button {
    list-style-image: url(ASSETS/icons/right-arrow.svg) !important;
  }

  #back-button,
  menugroup > #context-back {
    list-style-image: url(ASSETS/icons/left-arrow.svg) !important;
  }
}

@media (prefers-color-scheme: light) {
  #PanelUI-menu-button {
    list-style-image: url(ASSETS/icons/menu-light.svg) !important;
  }

  :root[privatebrowsingmode="temporary"] #PanelUI-menu-button {
    list-style-image: url(ASSETS/icons/menu-private-light.svg) !important;
  }

  #find-button {
    list-style-image: url(ASSETS/icons/search-light.svg) !important;
  }

  #privatebrowsing-button {
    list-style-image: url(ASSETS/icons/private-light.svg) !important;
  }

  #forward-button,
  menugroup > #context-forward,
  #search-container #searchbar .search-go-button,
  #urlbar-go-button {
    list-style-image: url(ASSETS/icons/right-arrow-light.svg) !important;
  }

  #back-button,
  menugroup > #context-back {
    list-style-image: url(ASSETS/icons/left-arrow-light.svg) !important;
  }
}

/*=====================================================================
============================ S E A R C H   B A R ======================
=====================================================================*/

#urlbar-input-container,
#searchbar,
#urlbar-container,
#urlbar {
  border-radius: var(--firefoxcss-border-radius) !important;
}

#urlbar .urlbarView-body-inner {
  border-top: 0px !important;
}

#urlbar:not(.megabar):not([focused="true"]),
#urlbar:not(.megabar):not([focused="true"]):hover {
  border-bottom: transparent;
}

#urlbar .urlbar-input-box {
  text-align: center;
}

#urlbar {
  --autocomplete-popup-highlight-background: var(
    --firefoxcss-url-autocomplete-highlight
  ) !important;
  border: 0 !important;
  background-color: var(--firefoxcss-url-bar-bg-color) !important;
  border-bottom: var(--firefoxcss-url-border-bottom-color) !important;
  border-top: var(--firefoxcss-url-border-top-color) !important;
  box-shadow: var(--firefoxcss-url-box-shadow-color) !important;
}

.urlbarView:not([noresults]) > .search-one-offs:not([hidden]) {
  border-top: none !important;
}

/* Megabar */
#urlbar[breakout] {
  height: auto !important;
}

#urlbar[breakout][breakout-extend][open] {
  background-color: var(--firefoxcss-url-breakout-bar-bg-color) !important;
  border-bottom: 1px solid var(--firefoxcss-url-breakout-border-bottom-color) !important;
  border-top: var(--firefoxcss-url-border-top-color) !important;
  box-shadow: var(--firefoxcss-url-breakout-box-shadow) !important;
}

#urlbar[breakout][breakout-extend] > #urlbar-input-container,
#urlbar-input-container {
  height: var(--urlbar-height) !important;
  padding-block: 0px !important;
  padding-inline: 0px !important;
  transition: none !important;
}

#urlbar[breakout][breakout-extend] {
  top: calc(
    (var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2
  ) !important;
  left: 0 !important;
  width: 100% !important;
}

/* Styling Extra search bar that you can add to firefox */
#search-container #searchbar {
  outline: 0 !important;
  border: 0 !important;
  border-radius: var(--firefoxcss-border-radius) !important;
  background-color: var(--firefoxcss-url-bar-bg-color) !important;
  border-bottom: var(--firefoxcss-url-border-bottom-color) !important;
  border-top: var(--firefoxcss-url-border-top-color) !important;
  box-shadow: var(--firefoxcss-url-box-shadow-color) !important;
}

#PopupSearchAutoComplete {
  --panel-background: var(--firefoxcss-url-breakout-bar-bg-color) !important;
}

/*=====================================================================
============================= T A B S =================================
=====================================================================*/

/* Non active tabs have darker text */
.tabbrowser-tab:not([selected]):not([multiselected]):not(:hover)
  .tab-label-container
  .tab-label {
  color: var(--firefoxcss-non-active-tabs) !important;
}

.tabbrowser-tab .tab-label-container .tab-label {
  transition: color 250ms ease !important;
}

/* Pinned tabs padding  */
:root:not([uidensity="compact"]) .tab-content[pinned] {
  padding: 0 8px !important;
}

/* Main BAR */
#navigator-toolbox {
  --tabs-border-color: none !important;
  --tabs-navbar-shadow-size: 0px !important;
}

#TabsToolbar
  #tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])
  > #tabbrowser-arrowscrollbox
  > .tabbrowser-tab:nth-child(1 of :not([pinned], [hidden])) {
  margin-inline-start: 0px !important;
}

#tabbrowser-tabs {
  --tab-loading-fill: transparent !important;
  margin-left: 2px !important;
}

/* Width of the tabs. Important to have Fadein or it breaks fonctionality */
/* not([style^="max-width"] :not([overflow])*/
#tabbrowser-tabs .tabbrowser-tab[fadein]:not([pinned]) {
  max-width: var(--firefoxcss-tab-max-width) !important;
  min-width: var(--firefoxcss-tab-min-width) !important;
}

/* Selected tabs width increase */
#tabbrowser-tabs:not([overflow])
  .tabbrowser-tab[selected][fadein]:not([pinned]) {
  max-width: 175px !important;
}

/* Selected tabs width when overflowing */
#tabbrowser-tabs[overflow] .tabbrowser-tab[selected][fadein]:not([pinned]) {
  min-width: 150px !important;
}

.tabbrowser-tab:not([selected]):not([multiselected]):not(:hover)
  .tab-icon-image {
  opacity: 0.8 !important;
  transition: opacity 250ms ease !important;
}

/* 
 * Fix the height of the tab because if you
 * change --tab-min-height it doesnt work for fullcreen
 */
#TabsToolbar {
  padding-top: 0px !important;
  padding-bottom: 2px !important;
}

/* Remove the line between the tabs / seperators */
#tabbrowser-tabs .tabbrowser-tab::before,
#tabbrowser-tabs .tabbrowser-tab::after {
  border: 0 !important;
}

/* Normal tabs design */
.tabbrowser-tab .tab-background:not([selected]) {
  border: 0 !important;
  border-radius: var(--firefoxcss-border-radius) !important;
  background-image: none !important;
  background-color: var(--firefoxcss-tab-bg-color) !important;
  transition: background-color 250ms ease !important;
  box-shadow: var(--firefoxcss-normal-tabs-box-shadow) !important;
}

/* Normal tabs design on hover */
#tabbrowser-tabs
  .tabbrowser-tab:hover
  > .tab-stack
  > .tab-background:not([selected]) {
  border: 0 !important;
  border-radius: var(--firefoxcss-border-radius) !important;
  background-image: none !important;
  background-color: var(--firefoxcss-tab-hover-bg-color) !important;
  box-shadow: var(--firefoxcss-normal-tabs-box-shadow) !important;
}

/* Selected tabs design */
#tabbrowser-tabs .tabbrowser-tab .tab-background[selected] {
  border: 0 !important;
  border-radius: var(--firefoxcss-border-radius) !important;
  background-image: none !important;
  background-color: var(--firefoxcss-tab-active-bg-color) !important;
  box-shadow: none !important;
  outline: none !important;
}

/* Multiselect tabs */
#tabbrowser-tabs .tabbrowser-tab .tab-background[multiselected] {
  border: 0 !important;
  border-radius: var(--firefoxcss-border-radius) !important;
  background-image: none !important;
  outline: none !important;
  background-color: var(--firefoxcss-tab-active-bg-color) !important;
  box-shadow: none !important;
}

#tabbrowser-tabs
  .tabbrowser-tab
  .tab-background:is([selected]):is([multiselected]) {
  outline: 1px solid var(--firefoxcss-tab-multiselect-outline) !important;
  outline-offset: 0px !important;
  outline-width: 1px !important;
}

/* Show Tab close button on hover */
.tabbrowser-tab:not([pinned]) .tab-close-button {
  display: flex !important;
  opacity: 0;
  visibility: collapse !important;
}

.tabbrowser-tab:not([pinned]):hover .tab-close-button {
  opacity: 1;
  visibility: visible !important;
  border-radius: 100% !important;
  transition: opacity 0.25s ease, visibility 0.25s ease,
    background-color 0.15s ease !important;
}

#titlebar #TabsToolbar #tabbrowser-tabs .tabbrowser-tab .tab-background {
  margin-block: 2px !important;
}

/* Remove right and left side tab overflow border line */
#scrollbutton-up ~ spacer {
  border-color: transparent !important;
}

/* Speaker on tabs color fixes */
.tab-icon-overlay:not([crashed])[soundplaying]:hover,
.tab-icon-overlay:not([crashed])[muted]:hover,
.tab-icon-overlay:not([crashed])[activemedia-blocked]:hover {
  color: currentColor !important;
  stroke: var(--firefoxcss-tab-speaker-icon-small-background) !important;
  background-color: var(--firefoxcss-tab-speaker-color) !important;
  fill-opacity: 0.95 !important;
}

.tabbrowser-tab[selected] .tab-icon-overlay:not([crashed])[soundplaying]:hover,
.tabbrowser-tab[selected] .tab-icon-overlay:not([crashed])[muted]:hover,
.tabbrowser-tab[selected]
  .tab-icon-overlay:not([crashed])[activemedia-blocked]:hover {
  color: currentColor !important;
  stroke: var(--firefoxcss-tab-speaker-color) !important;
  background-color: var(--firefoxcss-tab-speaker-color) !important;
  fill-opacity: 0.95 !important;
}

#TabsToolbar .tab-icon-overlay:not([crashed])[soundplaying],
#TabsToolbar .tab-icon-overlay:not([crashed])[muted],
#TabsToolbar .tab-icon-overlay:not([crashed])[activemedia-blocked] {
  color: var(--firefoxcss-tab-speaker-icon-color) !important;
}

#TabsToolbar .tab-icon-overlay:not([crashed])[soundplaying]:hover,
#TabsToolbar .tab-icon-overlay:not([crashed])[muted]:hover,
#TabsToolbar .tab-icon-overlay:not([crashed])[activemedia-blocked]:hover {
  color: var(--firefoxcss-tab-speaker-icon-hover-color) !important;
}

/*=====================================================================
============ W I N D O W   C O N T R O L   B U T T O N S ==============
=====================================================================*/

@media (-moz-platform: windows) {
  /* ----- Close/min/max fix ----- */
  #toolbar-menubar .titlebar-button {
    padding-block: 0px !important;
  }

  #TabsToolbar .titlebar-buttonbox-container {
    order: 1 !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    padding-right: 3px !important;
    padding-left: 3px !important;
  }

  #nav-bar-customization-target > :is(toolbarbutton, toolbaritem):first-child {
    padding-inline-start: 2px !important;
  }

  #nav-bar {
    padding-right: var(--firefoxcss-control-buttons-margin) !important;
  }

  #navigator-toolbox:not([inFullscreen])
    #TabsToolbar
    .titlebar-buttonbox-container {
    visibility: visible !important;
    display: flex !important;
    position: absolute !important;
    top: 1px;
    right: 0;
  }

  .titlebar-buttonbox-container .titlebar-button > .toolbarbutton-icon {
    height: 12px !important;
    min-height: 12px !important;
    width: 12px !important;
    min-width: 12px !important;
  }

  .titlebar-buttonbox-container .titlebar-button {
    border-radius: var(--toolbarbutton-border-radius);
    padding: 10px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  :root[sizemode="maximized"] .titlebar-buttonbox-container {
    padding-top: 0px !important;
  }

  #navigator-toolbox[inFullscreen] #nav-bar {
    padding-right: initial !important;
  }

  .titlebar-buttonbox-container .titlebar-min {
    order: 0 !important;
  }

  .titlebar-buttonbox-container .titlebar-max,
  .titlebar-restore {
    order: 1 !important;
  }

  .titlebar-buttonbox-container .titlebar-close {
    order: 2 !important;
  }

  @media only screen and (max-width: 670px) {
    #navigator-toolbox:not([inFullscreen])
      #TabsToolbar
      .titlebar-buttonbox-container {
      visibility: visible !important;
      display: flex !important;
      position: relative !important;
      order: 1 !important;
      padding-top: 1px !important;
      padding-bottom: 1px !important;
    }

    #navigator-toolbox:not([inFullscreen]) #nav-bar {
      padding-right: initial !important;
    }
  }
}

/*=====================================================================
====================== C O N T E X T   M E N U ========================
=====================================================================*/

menupopup :-moz-any(menu, menuitem) {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

@media (-moz-platform: windows) {
  #context-navigation
    > .menuitem-iconic[_moz-menuactive="true"]
    > .menu-iconic-left
    > .menu-iconic-icon {
    border-radius: var(--toolbarbutton-border-radius) !important;
    background-color: var(--button-hover-bgcolor) !important;
  }

  menupopup
    > :-moz-any(
      menu[_moz-menuactive="true"],
      menuitem[_moz-menuactive="true"]
    ) {
    background-color: color-mix(
      in srgb,
      currentColor 9%,
      transparent
    ) !important;
  }
  #context-navigation > .menuitem-iconic[_moz-menuactive] {
    &:not([disabled]) {
      background-color: transparent !important;
      
    }
    &[disabled] {
      background-color: transparent !important;
    }
  }
}

menupopup :-moz-any(menu:first-child, menuitem:first-child) {
  margin-top: 0px !important;
}

menupopup :-moz-any(menu:last-child, menuitem:last-child) {
  margin-bottom: 0px !important;
}

/* ----- Menu Separator #context-sep-selectall ----- */
menuseparator {
  border-color: var(--arrowpanel-border-color) !important;
  /* border-top: 1px solid ThreeDShadow; */
  padding-block: 2px !important;
}

menuseparator#context-sep-navigation {
  border-color: var(--arrowpanel-border-color) !important;
}

/* ----- Menu Colors -- border - rgba(82, 82, 94, 0.31) ----- */
:not(#ContentSelectDropdown) > menupopup {
  --panel-border-color: var(--arrowpanel-border-color) !important;
  --panel-background: var(--firefoxcss-main-bg-color) !important;
  --panel-padding: 5px 0 5px !important;
  --panel-border-radius: 8px !important;
}

#context-navigation:not([hidden]) {
  background-color: var(--firefoxcss-context-menu-top-color) !important;
  padding: 1px 0px 1px !important;
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

menupopup#contentAreaContextMenu {
  --panel-padding: unset !important;
  --panel-padding: 0 0 5px !important;
}

menupopup
  menuitem:is(#context-openlinkintab, #context-undo, #context-viewimage) {
  margin-top: 5px !important;
}

#context-sep-navigation {
  padding-block: 0px !important;
}

#context-navigation #context-back[disabled="true"] .menu-iconic-left .menu-iconic-icon{
  opacity: 0.5 !important;
}

#context-navigation #context-forward[disabled="true"] .menu-iconic-left .menu-iconic-icon{
  opacity: 0.5 !important;
}

#context-navigation > .menuitem-iconic {
    & > .menu-iconic-left {
      & > .menu-iconic-icon {
         width: 42px !important;
         height: 32px !important;
      }
    }
  } 
/*=====================================================================
===================== B O O K M A R K S   B A R =======================
=====================================================================*/

/* Set bookmarks bar items padding */
#PlacesToolbarItems > .bookmark-item {
  padding-block: 6px !important;
  padding-left: 6px !important;
  padding-right: 6px !important;
}

/*=====================================================================
=========================== B U T T O N S =============================
=====================================================================*/

/* Go Back button */
#back-button > .toolbarbutton-icon {
  border-radius: var(--toolbarbutton-border-radius) !important;
}

#back-button > .toolbarbutton-icon {
  border: none !important;
  background: none !important;
  width: calc(2 * var(--toolbarbutton-inner-padding) + 16px) !important;
  height: calc(2 * var(--toolbarbutton-inner-padding) + 16px) !important;
  padding: var(--toolbarbutton-inner-padding) !important;
}

/* Main Menu Button */
#PanelUI-button {
  margin-inline-start: 0 !important;
  padding-inline-start: 0 !important;
  border: none !important;
  border-inline-start: none !important;
}

toolbar
  .toolbarbutton-1:not([disabled="true"], [checked], [open], :active):hover
  > .toolbarbutton-icon,
toolbar
  .toolbarbutton-1:not([disabled="true"], [checked], [open], :active):hover
  > .toolbarbutton-text,
toolbar
  .toolbarbutton-1:not([disabled="true"], [checked], [open], :active):hover
  > .toolbarbutton-badge-stack {
  box-shadow: 0 0 4px var(--firefoxcss-toolbar-button-box-shadow) !important;
}

toolbar
  .toolbarbutton-1:not([disabled="true"]):is([open], [checked], :hover:active)
  > .toolbarbutton-icon,
toolbar
  .toolbarbutton-1:not([disabled="true"]):is([open], [checked], :hover:active)
  > .toolbarbutton-text,
toolbar
  .toolbarbutton-1:not([disabled="true"]):is([open], [checked], :hover:active)
  > .toolbarbutton-badge-stack {
  box-shadow: 0 0 4px var(--firefoxcss-toolbar-button-active-box-shadow) !important;
}

/* ----- New tab icon size (16-default). Not change the rest of calc --- */
#tabs-newtab-button .toolbarbutton-icon,
#new-tab-button .toolbarbutton-icon {
  width: calc(2 * var(--toolbarbutton-inner-padding) + 12px) !important;
  height: calc(2 * var(--toolbarbutton-inner-padding) + 12px) !important;
}

/* Design of the plus/newtab button - active/press */
toolbar
  #tabs-newtab-button:not([disabled="true"]):-moz-any(
    [open],
    [checked],
    :hover:active
  )
  > .toolbarbutton-icon,
toolbar
  #new-tab-button:not([disabled="true"]):-moz-any(
    [open],
    [checked],
    :hover:active
  )
  > .toolbarbutton-icon {
  border: 0 !important;
  border-radius: 100% !important;
  background-image: none !important;
  background-color: var(--firefoxcss-new-tab-button-active) !important;
  box-shadow: inset 2px 2px 2px 0px
    var(--firefoxcss-new-tab-button-box-shadow-active) !important;
}

/* Design of the plus/newtab button - hover */
toolbar
  #tabs-newtab-button:not([disabled="true"]):not([checked]):not([open]):not(
    :active
  ):hover
  > .toolbarbutton-icon,
toolbar
  #new-tab-button:not([disabled="true"]):not([checked]):not([open]):not(
    :active
  ):hover
  > .toolbarbutton-icon {
  border: 0 !important;
  border-radius: 100% !important;
  background-image: none !important;
  background-color: var(--firefoxcss-new-tab-button-hover) !important;
  box-shadow: 1px 1px 4px -1px var(--firefoxcss-new-tab-button-box-shadow-hover) !important;
}

/* Back button hover/active color */
#back-button:not([disabled]):not([open]):hover > .toolbarbutton-icon {
  background-color: var(--toolbarbutton-hover-background) !important;
}

#back-button:not([disabled="true"]):is([open], [checked], :hover:active)
  > .toolbarbutton-icon {
  background-color: var(--toolbarbutton-active-background) !important;
}

/* Firefox view button */
#TabsToolbar #firefox-view-button {
  margin-left: 2px !important;
}

#TabsToolbar #firefox-view-button:hover:not([open]) > .toolbarbutton-icon {
  background-image: none !important;
  box-shadow: none !important;
  border-radius: var(--firefoxcss-border-radius) !important;
  background-color: var(--firefoxcss-tab-hover-bg-color) !important;
}

#TabsToolbar #firefox-view-button[open] > .toolbarbutton-icon {
  background-image: none !important;
  background-color: var(--firefoxcss-main-bg-color) !important;
  border-radius: var(--firefoxcss-border-radius) !important;
  box-shadow: none !important;
}

:root:not([privatebrowsingmode="temporary"]):not([firefoxviewhidden])
  :is(#firefox-view-button, #wrapper-firefox-view-button)
  + #tabbrowser-tabs {
  padding-inline-start: 0px !important;
  margin-inline-start: 2px !important;
}

:root[privatebrowsingmode="temporary"] #PanelUI-menu-button {
  fill: var(--firefoxcss-private-browsing-menu-color) !important;
}

:root[privatebrowsingmode="temporary"]
  #PanelUI-menu-button
  .toolbarbutton-badge-stack
  .toolbarbutton-icon {
  filter: var(--firefoxcss-private-browsing-drop-shadow) !important;
}

/*=====================================================================
============== U R L   A U T O   H I D E   B U T T O N S ==============
=====================================================================*/

#nav-bar:not([customizing="true"]):not(.searchButton)
  > #nav-bar-customization-target
  > #urlbar-container:not(:hover)
  > #urlbar:not([focused])
  > #urlbar-input-container
  > #page-action-buttons
  .urlbar-page-action {
  opacity: 0;
  transition-delay: 500ms;
}

/* #nav-bar:not([customizing="true"]):not(.searchButton)
  > #nav-bar-customization-target
  > #urlbar-container:not(:hover)
  > #urlbar:not([focused])
  > #urlbar-input-container
  > #identity-box
  #notification-popup-box:not([open])
  .notification-anchor-icon {
  opacity: 0;
  transition-delay: 500ms;
} */

#nav-bar:not([customizing="true"]):not(.searchButton)
  > #nav-bar-customization-target
  > #urlbar-container:not(:hover)
  > #urlbar:not([focused])
  > #urlbar-input-container
  > #identity-box
  > #identity-permission-box:not([open]) {
  opacity: 0;
  transition-delay: 500ms;
}

#page-action-buttons .urlbar-page-action,
#identity-permission-box,
#notification-popup-box .notification-anchor-icon {
  transition: opacity 0.2s ease;
}

#urlbar #identity-icon-box,
#urlbar #identity-permission-box {
  opacity: 0 !important;
  margin-inline-start: calc(-16px - 2 * var(--urlbar-icon-padding));
  transition: margin-inline-start 100ms linear, opacity 200ms linear;
}

#urlbar #identity-box.notSecureText #identity-icon-box {
  margin-inline-start: initial !important;
  opacity: 1 !important;
  color: #e36f6f !important;
}

#urlbar #identity-box.extensionPage #identity-icon-box {
  margin-inline-start: initial !important;
  opacity: 1 !important;
}

#identity-box:hover #identity-icon-box,
#identity-box:hover #identity-permission-box,
#identity-box #identity-permission-box[open="true"] {
  opacity: 1 !important;
  margin-inline-start: initial !important;
}

#urlbar-input-container .urlbar-input-box {
  padding-inline-start: 2px !important;
}

#identity-box:hover ~ .urlbar-input-box > #urlbar-input {
  mask-image: linear-gradient(to right, transparent, black 3ch) !important;
}

#page-action-buttons {
  padding-inline-start: 8px;
}

#page-action-buttons .urlbar-page-action {
  margin-inline-end: calc(-16px - 2 * var(--urlbar-icon-padding));
  opacity: 0;
  transition: margin-inline-end 100ms linear, opacity 200ms linear;
}

#page-action-buttons:hover > .urlbar-page-action,
.urlbar-page-action[open],
.urlbar-page-action[open] ~ .urlbar-page-action {
  opacity: 1;
  margin-inline-end: 0px !important;
}

#identity-box.chromeUI #identity-icon-box {
  opacity: 1 !important;
  margin-inline-start: initial;
}

#identity-box.chromeUI::after,
#identity-box.chromeUI:hover::after {
  opacity: 0 !important;
}

#page-action-buttons:not(:hover) #translations-button[translationsactive="true"]:not([open]) {
  visibility:collapse !important;
} 

/* Create visual dots on both sides */
/* left side identity-box dots modification */
#identity-box::after,
#page-action-buttons::before {
  position: relative;
  content: "•••";
  pointer-events: none;
  transition: opacity 100ms ease;
  align-self: center;
  font-size: 0.7em;
}

#identity-box::after,
#page-action-buttons::before {
  opacity: 0.2;
}

#identity-box::after {
  transform: rotate(90deg);
  left: 4px;
}

#page-action-buttons::before {
  transform: rotate(-90deg);
  right: 4px;
}

#identity-box:hover::after,
#page-action-buttons:hover::before {
  opacity: 0.2 !important;
  transition: opacity 50ms ease;
  pointer-events: none;
}

#identity-box[pageproxystate="invalid"]::after,
#urlbar-input-container[pageproxystate="invalid"]
  > #page-action-buttons::before {
  opacity: 0 !important;
  transition: opacity 50ms ease;
}

/* Linux changes for visual dots */
@media (-moz-platform: linux) {
  #identity-box::after,
  #page-action-buttons::before {
    content: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="utf-8"%3F><svg fill="%23FFFFFF" width="11px" height="11px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M20.25 16c0 2.347-1.903 4.25-4.25 4.25s-4.25-1.903-4.25-4.25c0-2.347 1.903-4.25 4.25-4.25s4.25 1.903 4.25 4.25zM20.25 27c0 2.347-1.903 4.25-4.25 4.25s-4.25-1.903-4.25-4.25c0-2.347 1.903-4.25 4.25-4.25s4.25 1.903 4.25 4.25zM20.25 5c0 2.347-1.903 4.25-4.25 4.25s-4.25-1.903-4.25-4.25c0-2.347 1.903-4.25 4.25-4.25s4.25 1.903 4.25 4.25z"></path></svg>');
    transform: none;
    font-size: unset;
  }

  #page-action-buttons::before {
    right: 2px;
  }

  #identity-box::after {
    left: 2px;
  }
}

/* Search button show on hover in URL bar. */
/* #urlbar-container:not(:hover) #urlbar:not(.searchButton):not([focused])
  > #urlbar-input-container > 
  #identity-box[pageproxystate="invalid"] #identity-icon {
    opacity: 0 !important; 
  }
  
  #urlbar-container #urlbar:not(.searchButton)
  > #urlbar-input-container > 
  #identity-box[pageproxystate="invalid"] #identity-icon {
    opacity: 1 !important; 
    visibility: visible !important;
    transition: opacity 0.2s ease;
  } */

#identity-box[pageproxystate="valid"].notSecureText > .identity-box-button,
#identity-box[pageproxystate="valid"].extensionPage > .identity-box-button,
#identity-box[pageproxystate="valid"].chromeUI > .identity-box-button,
#urlbar-label-box,
#urlbar-zoom-button {
  background-color: var(--firefoxcss-item-bg-color) !important;
}

#urlbar-zoom-button:hover {
  background-color: var(--firefoxcss-urlbar-zoom-button) !important;
}

#urlbar-input-container #identity-box > .identity-box-button,
#tracking-protection-icon-container,
#urlbar-go-button,
#page-action-buttons .urlbar-page-action,
#notification-popup-box {
  border-radius: 8px !important;
}

/*=====================================================================
==================== L I N U X   S U P P O R T ========================
=======================================================================
@media (-moz-gtk-csd-available)
@media (-moz-gtk-csd-reversed-placement) */

@media (-moz-platform: linux) {
  #context-navigation > .menuitem-iconic[_moz-menuactive="true"] {
    border-radius: var(--toolbarbutton-border-radius) !important;
    background-color: var(--button-hover-bgcolor) !important;
  }

  #context-navigation > .menuitem-iconic[_moz-menuactive="true"][disabled] {
    background-color: transparent !important;
  }

  #context-navigation > .menuitem-iconic,
  menupopup,
  menuseparator {
    appearance: none !important;
  }

  /*   menupopup > :-moz-any(menu[_moz-menuactive="true"], menuitem[_moz-menuactive="true"]) {
      background-color: color-mix(in srgb, currentColor 9%, transparent) !important;   
      } */

  menu:where([_moz-menuactive="true"]):not([disabled]),
  menuitem:where([_moz-menuactive="true"]):not([disabled]) {
    background-color: var(--button-hover-bgcolor) !important;
    color: var(--firefoxcss-contextmenu-hover-text) !important;
  }

  /*    menupopup :-moz-any(menu, menuitem) {
      appearance: none !important;
    } */

  #context-navigation:not([hidden]) {
    padding: 2px 2px !important;
  }

  /*   menuseparator {
    border-top: 1px solid var(--arrowpanel-border-color) !important;
    border-bottom: none !important;
    margin: 1px 1em;
  } */

  menuseparator#context-sep-navigation {
    margin-top: 0 !important;
    margin-inline: 0 !important;
  }

  /*   menupopup .menu-text, menupopup .menu-iconic-left, menupopup .menu-iconic-text {
      font-size: 0.9em;} */

  /*   Smaller tab text and height. Broken on fedora? */
  #tabbrowser-tabs:not([secondarytext-unsupported]) .tab-label-container {
    height: 2.4em !important;
    font-size: 0.9em;
  }

  /* ----- Close/min/max fix ----- */
  #toolbar-menubar .titlebar-button {
    padding-block: 0px !important;
  }

  #TabsToolbar .titlebar-buttonbox-container {
    order: 1 !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    padding-right: 3px !important;
    padding-left: 3px !important;
  }

  #nav-bar-customization-target > :is(toolbarbutton, toolbaritem):first-child {
    padding-inline-start: 2px !important;
  }

  #nav-bar {
    padding-right: var(--firefoxcss-control-buttons-margin) !important;
  }

  #navigator-toolbox:not([inFullscreen])
    #TabsToolbar
    .titlebar-buttonbox-container {
    visibility: visible !important;
    display: flex !important;
    position: absolute !important;
    top: 1px;
    right: 0;
  }

  #TabsToolbar .titlebar-buttonbox-container .titlebar-button {
    border-radius: var(--toolbarbutton-border-radius);
  }

  :root[sizemode="maximized"] .titlebar-buttonbox-container {
    padding-top: 0px !important;
  }

  #navigator-toolbox[inFullscreen] #nav-bar {
    padding-right: initial !important;
  }

  .titlebar-buttonbox-container .titlebar-min {
    order: 0 !important;
  }

  .titlebar-buttonbox-container .titlebar-max,
  .titlebar-restore {
    order: 1 !important;
  }

  .titlebar-buttonbox-container .titlebar-close {
    order: 2 !important;
  }

  @media only screen and (max-width: 670px) {
    #navigator-toolbox:not([inFullscreen])
      #TabsToolbar
      .titlebar-buttonbox-container {
      visibility: visible !important;
      display: flex !important;
      position: relative !important;
      order: 1 !important;
      padding-top: 1px !important;
      padding-bottom: 1px !important;
    }

    #navigator-toolbox:not([inFullscreen]) #nav-bar {
      padding-right: initial !important;
    }
  }
}

/*=====================================================================
=============== C U S T O M I Z A T I O N   M E N U ===================
=====================================================================*/
/* Customize toolbar background color */
#customization-container {
  background-image: none !important;
  background-color: var(--firefoxcss-main-bg-color) !important;
}

#PersonalToolbar[customizing]
  toolbarpaletteitem[place="toolbar"]
  > toolbarspring,
#nav-bar[customizing] toolbarpaletteitem[place="toolbar"] > toolbarspring,
#customization-container toolbarpaletteitem[place="palette"] > toolbarspring {
  outline: 1px solid var(--firefoxcss-customize-view-flex-space) !important;
  outline-offset: -3px !important;
  border-radius: 6px !important;
}

@media not (-moz-platform: macos) {
  #customization-panelWrapper > .panel-arrowcontent {
    border-radius: 10px !important;
    background-color: var(--firefoxcss-customize-view-overflow-menu) !important;
  }
}

#PersonalToolbar[customizing] {
  outline: 1px dashed var(--firefoxcss-customize-view-dashed-outline) !important;
}

.browserContainer > findbar .findbar-textbox {
  background-color: var(--firefoxcss-item-bg-color) !important;
}

#customization-container #customization-footer {
  border-top: none !important;
}

@media (-moz-platform: macos),
  (-moz-platform: windows),
  not (prefers-contrast) {
  #customization-container #customization-footer .customizationmode-button {
    border-radius: 4px !important;
  }
}

/*=====================================================================
============================= O T H E R ===============================
=====================================================================*/

/* Status URL change (bottom left when hovering a link)  */
#statuspanel-label {
  background-color: var(--firefoxcss-statuspanel-bg-color) !important;
  border-radius: 4px !important;
  border-color: transparent !important;
  color: currentColor !important;
  margin: 0 0 3px 3px !important;
  padding: 4px !important;
}

/* Make forward and back buttons smaller  */
#back-button .toolbarbutton-icon,
#forward-button .toolbarbutton-icon{
  padding: 8.5px !important;
}

/* Container extension code */
#TabsToolbar #tabbrowser-tabs .tabbrowser-tab[usercontextid] .tab-background:not([selected]) {
  background: var(--identity-tab-color) !important;
  opacity: 0.3 !important;
}

/* Container extension code */
#tabbrowser-tabs .tab-context-line {
  display:none !important;
}

/* Some color fixes after 125.0.1 update. URLBAR Clipboard buttons  */
.urlbarView-row:is([type="switchtab"], [type="remotetab"], [type="clipboard"]) {
  & > .urlbarView-row-inner > .urlbarView-no-wrap > .urlbarView-action {
     background-color: var(--firefoxcss-url-clipboard-button) !important;
    padding: 4px 8px !important;
  }
}
.urlbarView-button {
  .urlbarView-row:is([row-selectable]:hover, [selected]) > &:not(:hover, [open]) {
    background-color: transparent !important;
    opacity: 0.8 !important;
  }
}  

/* #appcontent
  > #tabbrowser-tabbox
  > #tabbrowser-tabpanels
  > .deck-selected
  > .browserContainer
  > .browserStack
  > browser {
  border-radius: 12px !important;
  margin: 8px !important;
  z-index: 3;
} */
