/* ----- Remove tab bar spacer ----- */
.titlebar-spacer {display: none !important;}

/* ----- Avoids white flash ----- */
#tabbrowser-tabpanels {background-color: var(--uc-light-bkgnd-color, #232324) !important;}

/* ----- Bookmarks items centering ----- 
#PlacesToolbar {
  display: flex !important;
  justify-content: center !important;
}*/

/* ----- Other ----- */
#TabsToolbar {
  padding-inline-start: initial !important;}

.titlebar-spacer[type="pre-tabs"],
.titlebar-spacer[type="post-tabs"] {
  display: none !important;
}

/* Order of Toolbars (0-top, 1-second from top, 2-last) */
#navigator-toolbox #nav-bar {
  -moz-box-ordinal-group: 0 !important;
  background-color: transparent !important;}
  
#navigator-toolbox #toolbar-menubar {-moz-box-ordinal-group: 1 !important;}
#titlebar {-moz-box-ordinal-group: 2 !important;}
#PersonalToolbar {-moz-box-ordinal-group: 3 !important;}


/* Fix fullscreen issues with navigation bar at the top */
:root[tabsintitlebar][sizemode="maximized"] #navigator-toolbox {
  -moz-appearance: none !important;
  padding-top: 0px !important;}

/* Fix the FUllscreen changing padding on other bars. */
:root[tabsintitlebar][sizemode="maximized"] #titlebar {
 -moz-appearance: none !important;}

#navigator-toolbox {
  padding-top: 0px !important;
  padding-bottom: 0px !important;}

/* ========================= Proton Height fixes ========================= */
/* ----- Tabs Bar height ----- */
:root {--tab-min-height: 28px !important;}
:root #tabbrowser-tabs {--tab-min-height: 28px !important;}

/* ----- Menu Bar height ----- */
#toolbar-menubar {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  line-height: 22px !important;
  max-height: 22px !important;}

/* ----- Menu Items height/padding ----- */
menupopup :-moz-any(menu,menuitem) {
  margin-top:0px !important;
  margin-bottom:0px !important;
  padding-top:2px !important;
  padding-bottom:2px !important;}

menupopup :-moz-any(menu,menuitem) {
  margin-top:0px !important;
  margin-bottom:0px !important;}

menupopup :-moz-any(menu:first-child,menuitem:first-child) {margin-top:0px !important;}
menupopup :-moz-any(menu:last-child,menuitem:last-child) {margin-bottom:0px !important;}

/* ----- Close/min/max fix ----- */
#toolbar-menubar .titlebar-button{padding-block: 0px !important;}

/* ========================= Tabs ========================= */
/* ----- Non active tabs have darker text ----- */
.tabbrowser-tab:not([visuallyselected="true"]):not([multiselected]):not(:hover) {
  color: #ffffffa8 !important;}

/* ========================= Icons ========================= */
#PanelUI-menu-button {
  list-style-image: url(image/firefox.svg) !important;}
  
#forward-button {
  list-style-image: url(image/right-arrow.svg) !important;}
  
#back-button {
  list-style-image: url(image/left-arrow.svg) !important;}
  
#PanelUI-button {
  margin-inline-start: 0 !important;
  padding-inline-start: 0 !important;
  border: none !important;
  border-inline-start: none !important;}

#PlacesToolbarItems
  > .bookmark-item
  > .toolbarbutton-icon[label]:not([label=""]) {
  /* visibility: collapse !important; */
}
#back-button > .toolbarbutton-icon {
   border: none !important;
  border-radius: 0 !important;
  background: none !important;
  width: calc(2 * var(--toolbarbutton-inner-padding) + 16px) !important;
  height: calc(2 * var(--toolbarbutton-inner-padding) + 16px) !important;
  padding: var(--toolbarbutton-inner-padding) !important;
  border-radius: var(--toolbarbutton-border-radius) !important;
}

#back-button:not([disabled]):not([open]):hover > .toolbarbutton-icon {
  box-shadow: none !important;
  background-color: var(--toolbarbutton-hover-background) !important;
}

#nav-bar #PanelUI-button .toolbarbutton-icon {
	opacity:  0.8 !important;
}

#back-button:not([disabled="true"]):is([open], [checked], :hover:active) > .toolbarbutton-icon {
	background-color: var(--toolbarbutton-active-background) !important;	
}

/* ========================= URL Bar ========================= */
#urlbar-background {
  display: none !important;}

#nav-bar:not([customizing="true"])
  > #nav-bar-customization-target
  > #urlbar-container:not(:hover)
  > #urlbar:not([focused])
  > #urlbar-input-container
  > #page-action-buttons {
  opacity: 0;}
  
#page-action-buttons {
  transition: opacity 0.15s ease;}
  
#nav-bar:not([customizing="true"])
  > #nav-bar-customization-target
  > #urlbar-container:not(:hover)
  > #urlbar:not([focused])
  > #urlbar-input-container
  > #identity-box {
  opacity: 0;}
  
#identity-box {
  /*transition: visibility 0.30s ease-in-out, opacity 0.30s ease-in-out;*/
  transition: opacity 0.15s ease;}
  
#nav-bar:not([customizing="true"])
  > #nav-bar-customization-target
  > #urlbar-container:not(:hover)
  > #urlbar:not([focused])
  > #urlbar-input-container
  > #tracking-protection-icon-container {
  opacity: 0;}
  
#tracking-protection-icon-container {
  transition: opacity 0.15s ease;}

/* Search Bar #2b2b2bd1 262626ed #1E1E1EBF*/
#urlbar {
  --autocomplete-popup-highlight-background: transparent !important;
  /*  --autocomplete-popup-highlight-background: #313131ad;*/}

#urlbar-container {
  border-radius: 10px 10px 10px 10px !important;
  /* padding-top: 0px !important;
	padding-bottom: 0px !important;*/}
	
#urlbar-input-container,
#searchbar {
  border-radius: 10px 10px 10px 10px !important;}

.urlbarView-body-inner {
  border-top: 0px !important;}

#urlbar-input-container {
  /* Fixing icons right and left padding inside search bar for hovering  */
  padding-left: 7px;
  padding-right: 7px;}
  
#navigator-toolbox {
  --lwt-toolbar-field-border-color: transparent !important;
  --lwt-toolbar-field-focus: transparent !important;
  --toolbar-field-focus-border-color: #77777773 !important;}

#urlbar:not(.megabar):not([focused="true"]):-moz-lwtheme,
#urlbar:not(.megabar):not([focused="true"]):-moz-lwtheme:hover {
  border-color: transparent;}

#urlbar {
  border: 0 !important;
  border-bottom: 1px solid #ffffff30 !important;
  border-radius: 10px 10px 10px 10px !important;
  background-color: rgba(0, 0, 0, 0.35);}

#urlbar {
  box-shadow: none !important;}
  
#tracking-protection-icon-container {
  border-inline-end: none !important;
  border-image: none !important;}
  
#urlbar[breakout] {
  height: auto !important;}
  
/* Megabar */
#urlbar[breakout][breakout-extend][open] {
  background-color: rgba(34, 34, 36, 1) !important;}

#urlbar[breakout][breakout-extend] > #urlbar-input-container,
#urlbar-input-container {
  height: var(--urlbar-height) !important;
  padding-block: 0px !important;
  padding-inline: 0px !important;
  transition: none !important;}
  
#urlbar[breakout][breakout-extend] {
  top: calc(
    (var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2
  ) !important;
  left: 0 !important;
  width: 100% !important;}

#urlbar .urlbar-input-box {
    text-align: center;}

#urlbar-container #urlbar {
	--urlbar-height: 30px !important;
	--urlbar-min-height: 30px !important;
}

#wrapper-urlbar-container #urlbar{
	height: var(--urlbar-height) !important;}

/* ========================================================= */
/* New tab icon size (16 is default) Important to not change the rest of calc */
#tabs-newtab-button .toolbarbutton-icon,
#new-tab-button .toolbarbutton-icon {
  width: calc(2 * var(--toolbarbutton-inner-padding) + 12px) !important;
  height: calc(2 * var(--toolbarbutton-inner-padding) + 12px) !important;}

/* Design of the plus/newtab button */
toolbar
  #tabs-newtab-button:not([disabled="true"]):not([checked]):not([open]):not(:active):hover
  > .toolbarbutton-icon,
toolbar
  #new-tab-button:not([disabled="true"]):not([checked]):not([open]):not(:active):hover
  > .toolbarbutton-icon {
  border: 0 !important;
  border-radius: 20px 20px 20px 20px !important;
  background-image: none !important;
  background-color: #404040d9 !important;}

toolbar
  #tabs-newtab-button:not([disabled="true"]):-moz-any([open], [checked], :hover:active)
  > .toolbarbutton-icon,
toolbar
  #new-tab-button:not([disabled="true"]):-moz-any([open], [checked], :hover:active)
  > .toolbarbutton-icon {
  border: 0 !important;
  border-bottom: 1px solid #ffffff30 !important;
  border-radius: 20px 20px 20px 20px !important;
  background-image: none !important;
  background-color: rgba(0,0,0,0.35) !important;}
  
/* Main BAR */
#navigator-toolbox {
  background-color: rgb(50, 50, 52) !important;
  --tabs-border-color: none !important;
  --my-tab-min-width: 100px !important; /* 36px */
  --tabs-navbar-shadow-size: 0px !important;
  border-bottom: 1px solid #252525  !important;}

#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab[first-visible-unpinned-tab] {
    margin-inline-start: 2px !important;}

/* Remove the fill when loading on the tab which 
isnt formated for different border radius */
#tabbrowser-tabs {
  --tab-loading-fill: transparent !important;
  margin-left: 2px !important; /* fix the left tab being too close to the edge */}

/* Width of the tabs. Important to have Fadein or it breaks fonctionality */
.tabbrowser-tab[fadein]:not([pinned]) {
  max-width: 135px !important; /* 135px */
  min-width: var(--my-tab-min-width) !important;
  /*transition:none;
		transition: min-width 300ms ease-out , max-width 100ms ease-out !important;*/
}
/*.tabbrowser-tab[fadein][visuallyselected="true"]:not([pinned]) { 
	  max-width: 150px !important; 
	}  */

.tabbrowser-tab:not([visuallyselected="true"]):not([multiselected]):not(:hover)
  .tab-icon-image {
  opacity: 0.8 !important;
}

/* Fix the Heigh of a tab because 
if you change --tab-min-height it doesnt work for fullcreen
 */
#TabsToolbar {
  padding-top: 0px !important;
  padding-bottom: 2px !important;
}

/* Remove the line between the tabs / seperators */
#tabbrowser-tabs .tabbrowser-tab::before,
#tabbrowser-tabs .tabbrowser-tab::after {
  border: 0 !important;
}

/* Selected tabs design */
.tabbrowser-tab .tab-background[selected="true"] {
  border: 0 !important;
  /*border-bottom: 1px solid #ffffff30 !important;*/
  border-radius: 10px 10px 10px 10px !important;
  background-image: none !important;
  background-color: rgba(0,0,0,0.35) !important;
}

.tabbrowser-tab .tab-background:not([selected]) {
  border: 0 !important;
  /*border-bottom: 1px solid #ffffff30 !important;*/
  border-radius: 10px 10px 10px 10px !important;
  background-image: none !important;
  background-color: #404040d9 !important;
}

/* Normal tabs design on hover */
#tabbrowser-tabs
  .tabbrowser-tab:hover
  > .tab-stack
  > .tab-background:not([selected="true"]) {
  border: 0 !important;
  /*border-top: 1px solid #b9b9b969 !important;*/
  border-radius: 10px 10px 10px 10px !important;
  background-image: none !important;
  background-color: #404040d9 !important;
  /*border-bottom: 1px solid #0009 !important;*/
}

/* Multiselect tabs design on hover */
#tabbrowser-tabs .tabbrowser-tab .tab-background[multiselected="true"] {
  border: 0 !important;
  /*border-top: 1px solid #b9b9b969 !important;*/
  border-radius: 10px 10px 10px 10px !important;
  background-image: none !important;
  background-color: #606060d9 !important;
  /*border-bottom: 1px solid #0009 !important;*/
}
/* Fixing Multiselect */
.tab-background[multiselected="true"]:not([selected="true"])
  > .tab-background-inner {
  background: none !important;
}

/* Show Tab close button on hover */
.tabbrowser-tab:not([pinned]) .tab-close-button {
  display: -moz-box !important;
  opacity: 0;
  visibility: collapse !important;
  transition: opacity 0.25s, visibility 0.25s ease-in !important;
}
.tabbrowser-tab:not([pinned]):hover .tab-close-button {
  opacity: 1;
  visibility: visible !important;
  border-radius: 20px 20px 20px 20px !important;
}

#titlebar #TabsToolbar #tabbrowser-tabs .tabbrowser-tab .tab-background {
    margin-block: 2px !important;
}


/* BOOKMARK MENU AUTOHIDE */
#PersonalToolbar {
  --uc-bm-height: 24px; /* Might need to adjust if the toolbar has other buttons */
  --uc-bm-padding: 6px; /* Vertical padding to be applied to bookmarks */
  padding: 1px 6px !important;
  position: absolute;
}

:root[uidensity="touch"] #PersonalToolbar {
  --uc-bm-padding: 6px;
}

#PersonalToolbar:not([customizing]) {
  margin-bottom: calc(2px - var(--uc-bm-height) - 2 * var(--uc-bm-padding));
  transform: rotateX(90deg);
  transform-origin: top;
  transition: transform 100ms linear 500ms !important;
  z-index: 2;
}
#PlacesToolbarItems > .bookmark-item {
  padding-block: var(--uc-bm-padding) !important;
  padding-left: 6px !important;
  padding-right: 6px !important;
}

/* Show when cursor is over the toolbar area */
#navigator-toolbox:hover > #PersonalToolbar {
  transition-delay: 100ms !important;
  transform: rotateX(0);
}

/* Bookmarks bar with BLUR need layout.css.backdrop-filter.enabled = true rgba(50, 50, 52, 0.85)*/
#PersonalToolbar {
  background-color: rgba(34, 34, 36, 1) !important;
}

/* MIN MAX CLOSE Remove
#TabsToolbar > .titlebar-buttonbox-container {
  visibility: collapse !important;
}   */

:root:-moz-lwtheme {
	--arrowpanel-background:  rgba(34, 34, 36, 1) !important;
	--panel-separator-zap-gradient: linear-gradient(90deg, rgba(11,11,11,1) 0%, rgba(193,118,40,1) 39%, rgba(52,12,48,1) 100%) !important;
	--button-hover-bgcolor: rgba(159, 159, 159, 0.35) !important;
	--button-active-bgcolor: rgba(113, 113, 113, 0.35) !important;
	--button-bgcolor: rgba(117, 117, 117, 0.9) !important;
	--toolbarbutton-icon-fill-opacity: 0.8 !important;
	--arrowpanel-border-color: rgb(55, 55, 55) !important;
}

:root:-moz-lwtheme  {
	--dark-menu-background-color: rgba(34, 34, 36, 1) !important;
	--dark-menu-border-color: rgb(55, 55, 55) !important;
	--dark-menuitem-hover-background-color: rgba(159, 159, 159, 0.35) !important;
}

/* ----- Move left menu buttons ----- */
#nav-bar #PanelUI-button {
 -moz-box-ordinal-group: 0 !important;
}

#nav-bar #PanelUI-button #PanelUI-menu-button {
 padding-right: 2px !important;
}

toolbar:not([customizing]) > #nav-bar-overflow-button {
 -moz-box-ordinal-group: 1 !important;
}

toolbar:not([customizing]) > #nav-bar-customization-target {
 -moz-box-ordinal-group: 2 !important;
}

/* ----- Move left close/min/max buttons ----- */
#nav-bar {padding-right: 90px;}

#navigator-toolbox:not([inFullscreen]) #TabsToolbar .titlebar-buttonbox-container {
	visibility: visible !important;
	display: block !important;
	position: absolute !important;
    top: 13px;
    right: 0;
}

:root[sizemode="maximized"] .titlebar-buttonbox-container{
	padding-top: 0px !important;
}
 
:root:-moz-window-inactive:not([customizing])
    :is(.titlebar-buttonbox)
    > toolbarbutton:not(:hover) {
	opacity: 0.65 !important;
    list-style-image: url(window/inactive.svg) !important;
}

:is(.titlebar-buttonbox) .toolbarbutton-icon {
	opacity: 1 !important;
    appearance: none !important;
}

.titlebar-button > .toolbarbutton-icon {
    width: 15px !important;
	min-width: 15px !important;
	min-height: 15px !important;
    height: 15px !important;
    stroke: none !important;
}


.titlebar-buttonbox {
    margin-right: 8px !important;
    margin-left: 8px !important;
}

.titlebar-close {
    appearance: none !important;
    padding: 0px !important;
    padding-left: 6px !important;
    padding-right: 6px !important;
    margin: 0px !important;
    background-color: transparent !important;
    -moz-box-ordinal-group: 2 !important;
}

.titlebar-min {
    appearance: none !important;
    padding: 0px !important;
    padding-left: 6px !important;
    padding-right: 6px !important;
    margin: 0px !important;
    background-color: transparent !important;
    -moz-box-ordinal-group:0 !important;
}

.titlebar-max,
.titlebar-restore {
    appearance: none !important;
    padding: 0px !important;
    padding-left: 6px !important;
    padding-right: 6px !important;
    margin: 0px !important;
    background-color: transparent !important;
    -moz-box-ordinal-group: 1 !important;
}


#TabsToolbar .titlebar-buttonbox .titlebar-button {
	list-style-image: url(window/inactive.svg) !important;
}

#TabsToolbar .titlebar-buttonbox-container:hover .titlebar-close {
	list-style-image: url(window/close.svg) !important;
}

#TabsToolbar .titlebar-buttonbox-container .titlebar-close:hover {
    list-style-image: url(window/close-hover.svg) !important;
}

#TabsToolbar .titlebar-buttonbox-container:hover .titlebar-min {
	list-style-image: url(window/minimize.svg) !important;	
}

#TabsToolbar .titlebar-buttonbox-container .titlebar-min:hover {
    list-style-image: url(window/minimize-hover.svg) !important;
}

#TabsToolbar .titlebar-buttonbox-container:hover .titlebar-max,
#TabsToolbar .titlebar-buttonbox-container:hover .titlebar-restore {
	list-style-image: url(window/maximize.svg) !important;
}

#TabsToolbar .titlebar-buttonbox-container .titlebar-max:hover {
    list-style-image: url(window/maximize-hover.svg) !important;
}

:root[sizemode="maximized"] #TabsToolbar .titlebar-buttonbox-container .titlebar-max:hover,
#TabsToolbar .titlebar-buttonbox-container .titlebar-restore:hover {
    list-style-image: url(window/maximize-restore.svg) !important;
}

#appMenu-popup {margin-inline: -260px !important;}
