#PersonalToolbar:not([customizing]) {
  --uc-bm-height: 24px;
  --uc-bm-padding: 6px;
  padding: 1px 6px !important;
}

/* Bookmarks bar background color */
:root:not([lwtheme]) #navigator-toolbox #PersonalToolbar {
  background-image: var(--firefoxcss-bookmarks-bg-color) !important;
}

:root[uidensity="touch"] #PersonalToolbar {
  --uc-bm-padding: 6px;
}

/* Firefox v133 fix  */
:root:not([inDOMFullscreen]) #navigator-toolbox {
  --browser-area-z-index-toolbox: 4;
}

#PersonalToolbar:not([customizing]) {
  position: relative;
  margin-bottom: calc(1px - var(--uc-bm-height) - 2 * var(--uc-bm-padding));
  transform: rotateX(90deg);
  transform-origin: top;
  transition: transform 100ms linear 400ms !important;
  z-index: 1 !important;
}

/* Fixing border around the browser container */
@media -moz-pref("sidebar.revamp") {
  #navigator-toolbox {
    margin-bottom: 2px !important;
  }

  @media -moz-pref("mod.disable.browser.border-and-shadow") {
    #PersonalToolbar:not([customizing]) {
      padding: 0px 6px !important;
      margin-top: 1px;
      margin-bottom: calc(2px - var(--uc-bm-height) - 2 * var(--uc-bm-padding));
    }
  }

  @media not -moz-pref("sidebar.verticalTabs") {
    #navigator-toolbox #TabsToolbar {
      padding-bottom: 2px !important;
    }
  }
}

/* Bookmarks bar background color */
:root:not([lwtheme]) #navigator-toolbox #PersonalToolbar {
  background-color: var(--firefoxcss-bookmarks-bg-color) !important;
}

:root[lwtheme],
:root[lwtheme-image] {
  & #navigator-toolbox #PersonalToolbar {
    background-color: var(--lwt-accent-color) !important;
  }
}

/* Show when cursor is over the toolbar area */
#navigator-toolbox:hover > #PersonalToolbar,
#navigator-toolbox > #PersonalToolbar:has(.toolbar-menupopup[dragstart]) {
  transition-delay: 100ms !important;
  transform: rotateX(0) !important;
}

#PlacesToolbarItems > .bookmark-item {
  padding-block: var(--uc-bm-padding) !important;
  padding-left: 6px !important;
  padding-right: 6px !important;
}

#PlacesToolbarItems > .bookmark-item .toolbarbutton-icon {
  transition: opacity 100ms linear 400ms !important;
  opacity: 0 !important;
}

#PlacesToolbarItems > .bookmark-item .toolbarbutton-text {
  transition: opacity 100ms linear 400ms !important;
  opacity: 0 !important;
}

#navigator-toolbox:hover #PlacesToolbarItems > .bookmark-item .toolbarbutton-icon,
#navigator-toolbox #PlacesToolbarItems:has(.toolbar-menupopup[dragstart]) > .bookmark-item .toolbarbutton-icon {
  transition-delay: 100ms !important;
  opacity: 1 !important;
}

#navigator-toolbox:hover #PlacesToolbarItems > .bookmark-item .toolbarbutton-text,
#navigator-toolbox #PlacesToolbarItems:has(.toolbar-menupopup[dragstart]) > .bookmark-item .toolbarbutton-text {
  transition-delay: 100ms !important;
  opacity: 1 !important;
}
