/* ----- Move menu buttons to the left side ----- */


@media -moz-pref("sidebar.verticalTabs") {
  
  :root {
  --firefoxcss-control-buttons-margin: 0px !important;
  }
  
    #navigator-toolbox #nav-bar .titlebar-spacer[type="pre-tabs"] {
      display: none !important;
    }
  
   #navigator-toolbox #nav-bar .titlebar-spacer[type="post-tabs"] {
      display: none !important;
    }
  
  #nav-bar .titlebar-buttonbox-container {
    margin-inline-start: 20px;
  }

}


#nav-bar #PanelUI-button #PanelUI-menu-button {
  padding-right: 2px !important;
  padding-left: 4px !important;
}

#nav-bar #PanelUI-button {
		order: 0 !important;
}

toolbar:not([customizing]) > #nav-bar-overflow-button {
	order: 1 !important;
}

toolbar:not([customizing]) > #nav-bar-customization-target {
		order: 2 !important;
}

/* Fix popup position */
#appMenu-popup {
  margin-inline: -244px !important;
}

#widget-overflow {
  margin-inline: -320px !important;
}

