
* { 
	scrollbar-width: thin !important; scrollbar-color: #afafaf #2c2c2c !important;
}

@-moz-document url("about:privatebrowsing"){
	html:not(#ublock0-epicker), html:not(#ublock0-epicker) body, #newtab-customize-overlay {
        background-color: #232324 !important; /*#232324*/
	}
	#search-handoff-button {
        background-color: #0000004d !important;
        border: none !important;
        box-shadow: none !important;
		border-bottom: 1px solid #b821ec82 !important;
		border-radius: 10px 10px 10px 10px !important;
    }
	
	.fake-textbox{ color: #ffffff5e !important;}
	
	#search-handoff-button:active > .fake-textbox, 
	#search-handoff-button:hover > .fake-textbox,
	#search-handoff-button:focus > .fake-textbox,
	#search-handoff-button:focus-within > .fake-textbox{
        color: white !important;
		opacity: 0.8 !important;
		
    }
	.fake-caret {background: rgb(255, 255, 255) !important;}
	.logo-and-wordmark .wordmark {
		fill: #b821ec !important; 
	
	}
}
 
  
  @-moz-document url("about:home"),url("about:newtab"){
    html:not(#ublock0-epicker), html:not(#ublock0-epicker) body, #newtab-customize-overlay {
        background-color: #232324 !important; /*#232324*/
		background: url(image/wallpaper.jpg) !important ; 
		background-size: cover !important ;
	}
	
	.search-wrapper .search-handoff-button {
        background-color: #1e1e1e99 !important;
        color: #ffffff5e !important;
        border: none !important;
        box-shadow: none !important;
		border-bottom: 1px solid #ffffff26 !important;
		border-radius: 10px 10px 10px 10px !important;
		-webkit-backdrop-filter: blur(12px) !important;
		backdrop-filter: blur(12px) !important;	
	  }
	.search-wrapper .logo-and-wordmark {
		opacity: 0.9 !important;
		display:none !important;
	}
	
	.body-wrapper .tile {
			background-image: url(image/noise-512x512.png) !important;
		background-color:  #1e1e1e99  !important;
		-webkit-backdrop-filter: blur(10px) !important;
		backdrop-filter: blur(10px) !important;
	}
	
	.top-site-outer .top-site-icon {
		background-color:transparent !important;
	}
	
	#root .customize-menu {
		background-image: url(image/noise-512x512.png) !important;
		background-color: #1e1e1e8C !important;
		-webkit-backdrop-filter: blur(12px) !important;
		backdrop-filter: blur(12px) !important;	
	}
	
	.home-section .section .selector {
		background-color: #1e1e1e80 !important;
	}
	
	.top-sites-list:not(.dnd-active) .top-site-outer:hover:not(.active) {
		background-image: url(image/noise-512x512.png) !important;
		background-color: #1e1e1e80 !important;
		-webkit-backdrop-filter: blur(10px) !important;
		backdrop-filter: blur(10px) !important;	
	}
	  
	.search-wrapper input:focus {
        color: white !important;
    }
	.search-wrapper .search-button {
        fill: #ffffff5e !important;
    }
	.search-wrapper .search-button:focus,
    .search-wrapper .search-button:hover {
        background-color: transparent !important;
        fill: white !important;
    }
	.outer-wrapper.newtab-experience .search-wrapper .search-handoff-button .fake-caret {
		top: 12px !important;
	}
	
	.outer-wrapper.newtab-experience .search-wrapper .search-inner-wrapper {
		min-height: 42px !important;
	}
	
}

@-moz-document url("about:blank"){ 
	html:not(#ublock0-epicker), html:not(#ublock0-epicker) body, #newtab-customize-overlay {
			background-color: #232324 !important; /*#232324*/
		}
}
