/* ----- Move menu buttons to the left side ----- */
:root {
   --toolbar-start-end-padding: 2px !important; /* padding of frst and last child ,default - 8px */
}

#nav-bar #PanelUI-button {
    -moz-box-ordinal-group: 0 !important;
   }
   
   #nav-bar #PanelUI-button #PanelUI-menu-button {
    padding-right: 2px !important;
    padding-left: 4px !important;
   }
   
   toolbar:not([customizing]) > #nav-bar-overflow-button {
    -moz-box-ordinal-group: 1 !important;
   }
   
   toolbar:not([customizing]) > #nav-bar-customization-target {
    -moz-box-ordinal-group: 2 !important;
   }
  
  /* Fix popup position */
   #appMenu-popup {margin-inline: -244px !important;} 
  
  /* ----------------------------------------------------------------- */
  /* ---------- Default OS style close/min/max window buttons -------- */
  /* ----------------------------------------------------------------- */
 #nav-bar { 
    padding-left: 0px !important;
    padding-right: 118px !important;
} 

#navigator-toolbox:not([inFullscreen]) #TabsToolbar 
.titlebar-buttonbox-container {
 visibility: visible !important;
  display: block  !important;
  position: absolute !important;
  top: 1px !important;
  left: unset !important;
  right: 0 !important; 
}

 
#TabsToolbar .titlebar-min {
   -moz-box-ordinal-group:0 !important;
}

#TabsToolbar .titlebar-max, .titlebar-restore {
    -moz-box-ordinal-group:1 !important;
}

#TabsToolbar .titlebar-close {
   -moz-box-ordinal-group:2 !important;
}

#navigator-toolbox[inFullscreen] #navigator-toolbox #TabsToolbar .titlebar-buttonbox-container {
   -moz-box-ordinal-group: 1 !important;
 }

 #navigator-toolbox #TabsToolbar .titlebar-buttonbox-container {
   -moz-box-ordinal-group: 1 !important;
 }

 @media only screen and (max-width: 670px) {
   #main-window #navigator-toolbox:not([inFullscreen])
     #TabsToolbar
     .titlebar-buttonbox-container {
     visibility: visible !important;
     display: block !important;
     position: relative !important;
   }
   #main-window #navigator-toolbox:not([inFullscreen]) #nav-bar {
    padding-right: initial !important;
    }
 }
