/* ----- Replace email address in hamburger menu */
/* ----- to any text you want */
#appMenu-fxa-label2 #appMenu-header-description {display: none !important;}

#appMenu-popup #appMenu-fxa-label2::before {
	content: 'Firefox account' !important; /* Write any text you want */
}

/* Fix when icons in main menu */
#appMenu-fxa-status2[fxastatus] > toolbarbutton::before{ background-image: none !important;}

#appMenu-fxa-status2[fxastatus] > toolbarbutton::before{
  width: initial !important;
}
