/* Blur your tabs and show on hover  */

#tabbrowser-tabs .tabbrowser-tab .tab-stack .tab-content {
    filter: blur(4px) !important;
    transition: filter 200ms linear !important;
}

#tabbrowser-tabs .tabbrowser-tab:hover .tab-stack .tab-content {
    filter: blur(0px) !important;
}
